[2017-06-27 16:31] Stefan1200-de commented on #200
@Baklap4 well, that still does not fix the issue. @sophof mentioned from the 1.1 changelog, that Performous use an own font, I guess this font have this symbols. Why they are not displayed on Windows? And if this can't be fixed with the current method, the Windows version needs another solution.

[2017-06-27 16:33] Stefan1200-de commented on #244
@Baklap4 Unfortunately Performous shows nothing on the console on Windows, not even if I try Performous.exe --audiohelp or Performous.exe --help

[2017-06-27 17:20] Lord-Kamina commented on #244
Just ran 1.1 on a win8.1 box; infolog.txt is in %appdata%\performous\cache.

On June 27, 2017 at 12:33:43, Stefan1200-de (notifications@github.com)
wrote:

[2017-06-27 18:16] Stefan1200-de commented on #244
@Lord-Kamina Thanks, I found it.

Here is the debug log, my GFX settings: SVG 1.5x, Text 3.0x
With this settings the performance is okay and I can read all text messages.

[infolog.txt](https://github.com/performous/performous/files/1106368/infolog.txt)

[2017-06-27 18:25] basisbit opened #256 "config.xml integer values with thousands separator cause crash on load"
### Actual behaviour

Start the game, see a fatal error messagebox appear stating `"[...]\config.xml:11 Error while reading entry: bad lexical cast: source type value could not be interpreted as target More details might be available in [path to performous\caching\infolog.txt]"`.

![image](https://user-images.githubusercontent.com/10870269/27603310-0ec40eb4-5b76-11e7-902d-3a95937d6955.png)

Game c

[2017-06-27 18:31] basisbit commented on #200
indeed, can confirm this issue with latest master

[2017-06-27 18:47] basisbit commented on #200
Could this be caused by a text file reading encoding problem?
![image](https://user-images.githubusercontent.com/10870269/27604443-93ead228-5b79-11e7-9a7e-fb31e8d4e59b.png)
this happens for a UTF8 encoded file with BOM and these tags:
#ENCODING:UTF8
#TITLE:Mirai Start
#ARTIST:マイリトルポニー

[2017-06-27 19:34] Baklap4 commented on #244
I just got through your log, apart from having a lot of audio interfaces, i don't see anything unusual. Did the slowyness occur during loading of the songs? I Highly doubt it unless your hdd has some serious problems with read/write actions. I also saw we're reading quite a lot from the cache, but if your hdd is not the problem than that shouldn't be a problem....

[2017-06-27 21:12] Baklap4 commented on #253
Fixes commited as per:
* https://github.com/performous/performous-mxe/issues/1
* https://github.com/performous/performous/issues/257

[2017-06-27 21:19] Stefan1200-de commented on #244
Well, I think the slowyness was because of text quality 6.0. After lowering the value to 3.0 it is much better (still not perfect, but playable). A lower value than 3.0 is not a good idea, because I can't read the small text anymore.

But I still have the feeling that Performous is less accurate at hitting the right note as while playing a single player song. It is just weird, but if I'm the only

[2017-06-27 21:33] Baklap4 commented on #244
turning down the text quality deffo helps indeed. I myself play at 2.0 for each graphic setting.

For as hitting the right note, the txt file itself could also contain wrong notedata, are you a 100% sure they have set every tone at every correct note?

[2017-06-27 21:34] Lord-Kamina commented on #244
Perhaps play with the latencies a bit and you can get better results? Also,
I find it very odd you need text at 3.0x

On June 27, 2017 at 17:19:33, Stefan (notifications@github.com) wrote:

[2017-06-28 05:55] Stefan1200-de commented on #244
@Baklap4 Well, I found one duet song (which should be is easy to sing), which is also hard to hit the right note in Vocaluxe (but still easier than with Performous). I guess in that song the notes are wrong. But the other duet songs plays in Vocaluxe absolutely normal, but in Performous very hard (well, I tested not every song).

I was just surprised that in duet songs Performous sometimes shows m

[2017-06-28 06:00] Stefan1200-de opened #258 "No text output on Windows cmd / Powershell console from Performous.exe (stdout)"
### Actual behaviour

Unfortunately Performous shows nothing on the console on Windows (stdout), not even if I try **Performous.exe --audiohelp** or **Performous.exe --help**

But I know that commands like **--log debug** works, you just don't see the log file location (you have to know/find it on your own).

### Expected behaviour

Working text output to stdout.

### Details

Provide some additio

[2017-06-28 06:26] nieknooijens commented on #254
I guess this has low priority, it's not really that big of a deal, but at the same time, it's probably adding just one if-statement.

[2017-06-28 06:30] nieknooijens commented on #255
I also think this is pretty hard to debug since it's probably something related to WASAPI

performous binds to portaudio which binds to whatever the heck is available on that platform. in the case of windows that's directSound/WASAPI and in the case of linux that's ALSA/Pulseaudio/Jack.

since Jack also works on windows you could try using that sound API (run JACKD) and see if it still crashes whe

[2017-06-28 06:31] nieknooijens commented on #258
is this in CMD or powershell?
if using powershell maybe you can pipe stdout to a file?

[2017-06-28 06:36] nieknooijens commented on #244
@Lord-Kamina my text quality is at 2 - 2.5
I already changed the default value from 0.5 to 2 a while ago when I ported  it to SDL2, the reason was that stuff just looked ugly on fullHD screens and since my previous 8-year old desktop was fine rendering it at higher quality settings, it was best to go with that.
but 3.0 is ridiculous! 2.0 should be sufficient on HD screens, there might be problems

[2017-06-28 06:42] nieknooijens commented on #200
that ENCODING tag gets ignored :rofl:
best on windows is to use notepad++ and save it under a different name as UTF8 with LF line endings.
or use the "fix-songfiles.sh" in the scripts folder, but be awared that this might screw up some characters!

[2017-06-28 06:46] nieknooijens commented on #256
why would you ever want to do that? and INT is an "integer" (whole number).
I think there already is an old issue proposing to add float/doubles to the config.

[2017-06-28 06:50] nieknooijens commented on #200
@basisbit I'm not really suggesting to fix encodings, I want to rule out some stuff. I want to be 100% certain that it's not a textfile mis-interpretation.

[2017-06-28 06:57] basisbit commented on #200
converted the file to UTF8 without BOM using notepad++ and the issue was still happening

[2017-06-28 06:58] basisbit commented on #256
@nieknooijens please read again. This issue is not invalid. @Baklap4 confirmed this problem on linux.

[2017-06-28 07:00] Stefan1200-de commented on #244
@nieknooijens text quality 3.0 is ridiculous? I tested it, here is a screenshot from text quality 2.0 at full hd:
![performous_textquality2 0](https://user-images.githubusercontent.com/15168351/27624250-2872c48a-5be0-11e7-9630-66e8ef8ff119.png)

[2017-06-28 07:00] basisbit commented on #256
I know we do not support half pixels. that would be nonsense. The problem is that performous stores the pixels number with thousands-separator and then is not able to pare that at next start.

[2017-06-28 07:02] basisbit commented on #244
can confirm this in the song playing screen with default settings:
![image](https://user-images.githubusercontent.com/10870269/27624322-7a2d239c-5be0-11e7-817b-13664b51e9ef.png)

[2017-06-28 07:07] Stefan1200-de commented on #258
@nieknooijens I tried both, cmd and powershell. Same issue.

Yes, piping to file helps at least for Performous --help / --audiohelp, example:
***Performous.exe --help > test.txt***
test.txt:
[code]

But someone mentioned, that ***--log debug*** should write the log file path to stdout, this does not even work with piping to file.

[2017-06-28 07:10] Stefan1200-de commented on #254
@nieknooijens Yeah, it is not a big thing. I just realized this while doing some tests for another issue. So I wrote it down here to make sure that it will not forgotten. ;)

[2017-06-28 07:15] Stefan1200-de commented on #255
Just in case that this debug log helps:
[infolog.txt](https://github.com/performous/performous/files/1107846/infolog.txt)

But I found nothing crash related. As soon as I connect both USB microphones, Performous does not crash anymore.

[2017-06-28 10:30] Baklap4 commented on #244
For the text rendering issue please open up a new issue. I can confirm this on linux btw.

[2017-06-28 10:41] Baklap4 commented on #245
Closed in favor of issues #160 regarding multiple audio devices.
Closed as result from #244 since text-quality was set to 6.0. Within the config menu it's dully noted that higher values comes with drop in performance see https://github.com/performous/performous/blob/master/lang/performous.pot#L960-L968

[2017-06-28 10:41] #245 closed

[2017-06-28 10:41] #244 closed

[2017-06-28 10:48] Baklap4 opened #259 "Performous text rendering barely readable"
As mentioned [here](https://github.com/performous/performous/issues/244#issuecomment-311563627) and [here](https://github.com/performous/performous/issues/244#issuecomment-311574328) and [here](https://github.com/performous/performous/issues/244#issuecomment-311574748)

With the default textsetting set to 2.0 the drawn text for example within screen_sing is barely readable on various resolutions:

[2017-06-28 11:32] basisbit commented on #259
also 1920x1080 for me.
DPI zooming on windows seems to not affect this.
The above posted screenshot containing "Hey t... My name is R.." was done in sing-screen while the performous window was roughly at a size of 1800x1000 and all in-game settings on default.

[2017-06-28 11:34] basisbit commented on #160
- [ ] Check if a listed audio device is disabled / not connected and don't show it in this case

[2017-06-28 11:41] Baklap4 commented on #160
@basisbit added it to the list thanks 👍

[2017-06-28 12:58] nieknooijens commented on #258
ok that's at least some progress limiting everything to the logger which uses a boost::sink to push stuff to stdout. are there any windows specific settings which we forgot?

[2017-06-28 14:25] Lord-Kamina commented on #259
@nieknooijens I think I'm at 2.0, but honestly I almost always play in fullHD and had never noticed that.

[2017-06-28 14:32] Stefan1200-de commented on #259
Maybe one solution could be to use a higher text quality only for the small text in the bottom left, maybe use a 50% higher text quality from the game settings. So if you set 2.0 in the game settings, use 3.0 for small text strings.

[2017-06-28 14:44] nieknooijens commented on #259
I think it's a combination of factors. system fonts get converted to SVG's which are then scaled and rendered. the text quality setting determines how much of the SVG should be calculated. it also has black outlines which become dominant at lower resolutions/svg quality and therefore some parts of letters become black. when this happens depends on the font, but eventually it will happen. so we cou

[2017-06-28 14:47] Lord-Kamina commented on #160
The thing I did the other day for text rendering makes it a tad more bearable because it ensures each line is completely inside the screen (although we'll need to stretch that gray background a bit).

Besides that, I really think a good short-term solution is what I suggested before : settle for a single backend at a time.(For windows probably winmme or directx/wasapi) but retain the ability to ch

[2017-06-28 14:54] Lord-Kamina commented on #259
There's something else I noticed the other day while playing with opengl_text.cc I noticed the other day. I want to play a bit with it later and will report with results.

[2017-06-28 15:34] MagicChocoRolls commented on #255
I had the very same problem on my Mac and can reproduce it the following way:

* Configure at least 2 microphones (aka players) on a detachable sound card
* start a song and verify it is working
* close performous, disconnect the microphone you configured (this only works for detachable equipment like the USB sing star mics)
* restart performous and go straight to song selection. A duet song will

[2017-06-28 15:38] MagicChocoRolls commented on #225
Hi there,

Two weeks ago I had a singing session with friends where we wanted to try out the webserver. I used a build I created myself.
I had some random crashes of performous itself (without even using the webserver, but having it configured) and a lot more using the webserver. It was not deterministic when performous crashes. After about 5 crashes we went back to a version without webserver sup

[2017-06-28 15:45] MagicChocoRolls commented on #207
Update from me as I am the requester:

Build on Sierra works like a charm, but the Wiki is completely outdated :(
I have some notes on how to build performous on macOS Sierra, which might help others to do so.

[2017-06-28 15:58] basisbit commented on #160
please bear in mind that https://github.com/andrewrk/libsoundio/wiki/libsoundio-vs-SDL2 is outdated now that SDL2 supports audio input devices, including plug&pray events,...
libsound would be a new additional dependency.

[2017-06-28 16:02] Baklap4 commented on #207
@MagicChocoRolls would be lovely to share it on the wiki :+1:

[2017-06-28 16:04] Baklap4 commented on #225
Hmmm sorry to hear @MagicChocoRolls :( We'd love some debug info regarding the crashes :+1:

[2017-06-28 16:15] #242 closed

[2017-06-28 16:24] MagicChocoRolls commented on #207
@Baklap4 Done :)
I think someone should cross-check the instructions and maybe delete the old OS X instructions. I left them there and created "new ones" for macOS.

[2017-06-28 16:37] Baklap4 commented on #207
@Lord-Kamina can you try these new OSX build steps out?

[2017-06-28 17:03] Lord-Kamina commented on #160
Well, eventually if we ended up using it, it would replace portaudio so it would leave us in the same place regarding dependencies.

Re: Older windows... We're talking about pre-windows 7. I don't really think we should be concerned about that. Don't know how far back is the Linux support though. As for OSX, we currently support 10.9+ only.

[2017-06-28 17:07] Lord-Kamina commented on #225
If you have access to the mac you used, the crash logs from macOS itself
should be present still in your console (they usually get saved to disk as
individual .crash files under User Reports). It would help a bit if you
could post those, and of course the performous log when you can try it out
again.

On June 28, 2017 at 12:05:00, Arjan Spieard (notifications@github.com)
wrote:

[2017-06-28 17:08] Lord-Kamina commented on #207
Will do.

On June 28, 2017 at 12:37:59, Arjan Spieard (notifications@github.com)
wrote:

[2017-06-28 17:14] Baklap4 commented on #160
Linux goes from trusty (Ubuntu 14.04 LTS) which is released in 2013 Ubuntu 14.04.5 LTS which the buildserver uses has end of life date april 2019.

[2017-06-28 18:52] nieknooijens commented on #160
i think its best to investigate sdl2's sound support and possibly
sdl2_mixer. this would cut down another dependancy

Op 28 jun. 2017 19:14 schreef "Arjan Spieard" <notifications@github.com>:

[2017-06-28 19:17] Lord-Kamina commented on #259
So... call me crazy, but I believe we might actually be always rendering the text in 800x600...

[2017-06-29 00:51] Baklap4 commented on #157
Statusupdate?

[2017-06-29 06:33] nieknooijens commented on #157
I think #227 will fix this.

[2017-06-29 08:10] MagicChocoRolls commented on #225
should be present still in your console (they usually get saved to disk as
individual .crash files under User Reports). It would help a bit if you
could post those, and of course the performous log when you can try it out
again.

Niiiiiice :) Didn't know about that.

I will give you all three crash logs from that day.

[crashlogs.zip](https://github.com/performous/performous/files/1111283/crashlog

[2017-06-29 14:59] Baklap4 commented on #33
How's this with the latest master after 4 years?

[2017-06-29 22:17] Baklap4 commented on #198
@skyli91 I've made drag and drop available in a pull request (with new frontend see: https://github.com/performous/performous/pull/251/commits/7e5f77fe31224bc475afd5ff91b2f0650b75897c) When this is in master i'll close this.

[2017-06-30 07:20] Baklap4 opened #261 "TODO Items code comments"
While reviewing @Lord-Kamina pull request i declined it since there's still a TODO item within his code.
This may sound pretty harsh, but TODO comments stay within code for way too long and/or are never issued again.

While searching the repo i found 38 matches for 'TODO' items within the code dating back to: `15 Sep 2016`

# Proposal
* Clean these 38 matches up.
* As of today decline pull request

[2017-06-30 07:25] basisbit commented on #261
this is an open source project with developers donating their free time... I am not sure if we really should be that strict. Especially when someone introduces rather big new changes, having a couple of TODO comments can hint to where future improvements should be done later on but still can be an improvement. (just my two cents / personal opinion)

[2017-06-30 07:33] Baklap4 commented on #261
Especially within an open source project where everyone has another opinion about 'quality' it's a good thing to set a quality baseline. As for todo comments they are considered a bad habit since they mostly wont be done. As one can see within the search query i just made.

[2017-07-01 01:21] Lord-Kamina commented on #207
@MagicChocoRolls I have expanded and updated your build instructions as per my own procedure; I corrected some important things re:cpp-netlib, you should try following my instructions (at least regarding asioc++ and cpp-netlib) as an incorrect build might be the actual cause for your trouble with the webserver.

[2017-07-02 19:25] TobiX commented on #253
Slightly -1 from me, since submodules are hard to grasp and get to work correctly for people new to git. What is the harm in keeping the repositories separate?

[2017-07-02 20:04] basisbit commented on #253
what is so difficult about `git submodule init` and `git submodule update`? Maybe it would be a good idea to add it to the readme.md, so that software developers without knowledge of git basics easily can build stuff.

[2017-07-02 21:25] Baklap4 commented on #253
scratch init and update, just use `git clone --recursive git://github.com/performous/performous.git`
Where --recursive grabs all the submodules. Git 1.6.5 or higher. (Current git is 2.13.2 )

[2017-07-11 17:34] backache opened #267 "Website giving certificate errors in Chrome"
**Please, do not create duplicate issues**

### Actual behaviour

Website giving certificate errors in Chrome

### Expected behaviour

Website loads without error

### Steps to reproduce

Goto https://performous.org/ using Chrome in Windows

![performous](https://user-images.githubusercontent.com/6274724/28081529-7c1bac00-6667-11e7-8b57-ab48559c2536.PNG)

### Details

Provide some additional infor

[2017-07-11 17:42] Baklap4 commented on #267
Closing in favor of https://github.com/performous/web/issues/4
We are aware of the hsts error. Please view the mirror site: https://performous.asgardsings.nl

[2017-07-11 17:42] #267 closed

[2017-07-12 23:41] Sapdos opened #268 "My GH Aerosmith guitar (xbox 360) is not getting recognized"
Can someone please help? Is this guitar not recognized by default? Do I have to config it in the config file, and if so, how do I do it?

[2017-07-13 06:54] Baklap4 commented on #268
@Sapdos it might be possible the controller is not recognized. Please view this wiki article: https://github.com/performous/performous/wiki/Controller-configuration

[2017-07-29 17:12] Lord-Kamina commented on #200
So... I was looking for this issue the other day in other to post an update and just couldn't find it.
I've traced the cause of this issue to us shipping an incomplete (or rather non-existant) Fontconfig configuration. It should be more-or-less trivial to fix.

[2017-07-29 17:14] #102 closed

[2017-07-29 17:39] TobiX commented on #200
Ah right, I also took a look at the problem: When not shipping a config files on systems that don't use fontconfig natively (Windows, OS X), fontconfig can't fall back to system fonts (since it doesn't know where they are). There are different fixes for this:

1. Shipping enough fonts so that all glyphs are covered (can become quite large if we want to cover CJK glyphs) - but we should at least co

[2017-07-29 18:37] Lord-Kamina opened #271 "Songs finished loading dialog causes a SIGSEGV crash."
### Actual behaviour

Performous crashes.

### Expected behaviour

Should show a message notifying all songs have been loaded.

### Steps to reproduce

Load Performous, wait.

### Details

Just something I noticed peripherally while working on my audio fixes (was following compiler warnings to see whether I could get rid of any) and I noticed an "unused variable" warning leading to songs.cc where

[2017-07-29 20:29] twiecki commented on #174
Reopening as the 8.1 driver really isn't a stable solution as it gets constantly updated (even if I set it to not auto update). Moreover, no other program has this problem.

[2017-08-30 07:10] nieknooijens commented on #261
sometimes a TODO is just a note informing other programmers that thought has been put into a certain feature, but because of time constraints it was decided not to implement it.

[2017-08-30 13:56] Baklap4 commented on #261
@nieknooijens If that thought crossed their mind, why not make it an issue instead of cluttering the code with TODO's. The pro's for creating an issue: lots of more detail and discussion and keeping your code clean.

[2017-08-31 14:44] Baklap4 commented on #238
@nieknooijens Can you add oath tokens to semaphore to provide this feature? If it's possible do it in such a way it doesn't rely on a user based token. Since that may cause this problem again if one leaves...

[2017-08-31 20:46] diver66 opened #282 "Performous Installation"
I just installed performous on my lubuntu machine. It works great and I have to say although i have about 5500 songs, it is amazingly fast. I have just a few issues

how can I turn off the music in ther background ?
how can I incoorporate the image of the editions/languages i have ?
How can I change the font that is show in the menu and also as the song text ?

I have installed performous using th

[2017-08-31 21:23] Baklap4 commented on #282
To turn of the music in the background i think you mean canceling out the vocals?
For this you can enable center channel mute by pressing `ctrl + c`

What do you mean with this? You can get a list sorted by edition/languages within the browser by sorting on either one of them.

For customization on themes one can create a new theme as mentioned on the wiki: https://github.com/performous/performous

[2017-08-31 21:23] #282 closed

[2017-09-01 06:59] nieknooijens commented on #238
![screenshot from 2017-09-01 08-50-00](https://user-images.githubusercontent.com/2794331/29958622-e6257e96-8ef3-11e7-995d-dffe757d06c2.png)
should be fixed now

[2017-09-01 07:09] Baklap4 commented on #238
@nieknooijens Hmmm alright so this is sadly linked to your account instead of the github repo. I bet there wasn't any other way to do it. If it comes in mind to leave the project please arrange this to be moved over to another (new) admin thankyou! Let's wait for someone to make a commit and see if it works. If it does we can close it ;)

[2017-09-01 07:13] nieknooijens commented on #238
it was first linked to tobix's account, the only way to change it was to select "change repository" and select it using my OATH token.

[2017-09-01 07:16] Baklap4 commented on #238
yeah sadly (but that's not you to blame) since it's a repo specific imho but i guess github thinks otherwise. On gitlab one can create tokens/keys/secrets for a repo not linked to a specific user to make things like this work.

[2017-09-01 07:21] nieknooijens commented on #282
in addition to the center channel surpressor, there are 2 volume controls (ctrl+ up / ctrl + down), one for the menu, and one for the gameplay. so you can turn down the music volume in the menu as you like.

this is pretty unclear to me. usually you place images next to the MP3 and the TXT file and within the text file you specify which image to use (if you don't specify it performous will guess w

[2017-09-01 13:42] Baklap4 commented on #238
Closing this as seen in #283 it works again!

[2017-09-01 13:42] #238 closed

[2017-09-01 21:00] Baklap4 commented on #127
Good old thread. I'm for not listing the song within the songbrowser. We have since playlist times got into performous a potential filenotfound exception being thrown. Since performous list the song you can actually add it to the playlist which creates this segfault. Calculation of duration has the need of an mp3 file.

I'm proposing the following:
Log the broken song
Forget about the song for the

[2017-09-01 21:04] Lord-Kamina commented on #127
I think they should be shown but with a strong visual cue as to them being broken; and of course taking into account the need to prevent the segfault currently happening.

OTOH, I believe that would require a lot more work and perhaps @Baklap4's approach is a good middle-ground.

[2017-09-05 06:50] #198 closed

[2017-09-05 06:50] #230 closed

[2017-09-05 06:50] #231 closed

[2017-09-05 06:50] #241 closed

[2017-09-05 07:20] Baklap4 commented on #225
@Lord-Kamina is this still relevant with the updated way to check ip address? as per https://github.com/performous/performous/commit/39929f644a152d94c3baffb02c65b82d016f9607

[2017-09-05 09:05] Baklap4 commented on #240
Going to work on this by tonight

[2017-09-05 09:07] Baklap4 commented on #188
Closed since #280 has been merged to master

[2017-09-05 09:07] #188 closed

[2017-09-05 09:13] Baklap4 opened #286 "Show better text when IP can't be resolved"
Cleanup of #226
As mentioned in https://github.com/performous/performous/issues/226#issuecomment-280604558

If trying to get an ip address failed one would get the message: `cannot obtain IP`
A fallback for this would be to use the hostname of the machine: `hostname:portnumber`
If no hostname is set one can show the message: `localhost:portnumber`
~~If no devices are up one can show the message: `

[2017-09-05 09:14] Baklap4 commented on #226
Closed since #285 is merged
Opened #286 to fix the shown text

[2017-09-05 09:14] #226 closed

[2017-09-05 09:18] Baklap4 commented on #203
closed since #280 has been merged into master introducing a feature to click on a song which adds it to the playlist

[2017-09-05 09:18] #203 closed

[2017-09-05 09:25] nieknooijens commented on #286
if no devices are up, localhost still works so no devices up is unnecessary

[2017-09-05 19:31] Lord-Kamina commented on #225
I don't know, I think the crash was not actually caused by the IP detection
(as that exception was caught by the "cannot determine ip" message)

It might actually have been a manifestation of the webserver exit crash.
I'll try to reproduce it later.

On September 5, 2017 at 04:20:29, Arjan Spieard (notifications@github.com)
wrote:

[2017-09-05 21:34] diver66 opened #287 "Images for Languages / Editions / Decades / Artists / Title"
Hi,
This ultrastar feature only works , if in the options menue the TABS is set to ON. Otherwise the sorting  of the titles, artists and such behaves like performous.

Once the TABS is set to ON and  SORTING is set to artist - the following happens (Ultrastar needs to be restarted)
instead of showing a vast list of songs - an images with Numbers (#,1,2,3..) or Letters (A,B,C...) are shown - undern

[2017-09-05 21:52] basisbit commented on #287
UltraStar not equals Performous ... is this a) a feature request for performous or b) an issue intended for UltraStar Deluxe?

[2017-09-05 22:48] Lord-Kamina commented on #287
@basisbit it's a feature request.

[2017-09-06 20:57] #94 closed

[2017-09-09 14:11] jose1711 opened #288 "failure to compile on linux"
i am unable to build performous (current git) on arch linux:

[code]

any idea?

[2017-09-09 19:56] Lord-Kamina commented on #288
What compiler are you using? It seems to be an issue with the preprocessor macros. i.e. it appears it's ignoring them.

[2017-09-09 21:02] jose1711 commented on #288
gcc 7.1.1, cmake 3.8.2, make 4.2.1

[2017-09-09 21:28] Lord-Kamina commented on #288
I have no idea why would it fail... try some version of gcc6 perhaps, or maybe clang?

I'm pretty sure it's a compiler issue. The problem is it seems to be ignoring the preprocessor directives and thus it thinks something is defined twice because it's trying to compile both cases at the same time.

[2017-09-12 14:26] Lord-Kamina commented on #288
@jose1711  Did you manage to fix this?

[2017-09-12 14:28] Lord-Kamina commented on #258
In windows, besides the logger you can do 1> log.txt 2>& 1 to pipe both STDOUT and STDERR to a file.

[2017-09-12 14:51] jose1711 commented on #288
i am failing to build older versions of gcc so the answer is no

[2017-09-12 15:49] Baklap4 commented on #288
I'm using the following setup and it works correctly:
Gcc 6.3.0 20170406
cmake 3.7.2
make 4.1
Ubuntu 17.04

Our ci which uses Ubuntu 14.04.5 builds it flawlessly aswell with either gcc or clang: https://semaphoreci.com/performous/performous/branches/master/builds/81

[2017-09-14 02:42] Lord-Kamina opened #290 "Web interface: search broken if special characters on title or artist name"
Pretty self-explanatory. Can't add songs to  playlist via searching if they have unicode characters in artist or title.

Shouldn't be too hard to fix, considering it works fine if you select them with the "+" from the "All database" tab.

[2017-09-14 06:51] Baklap4 commented on #290
@Lord-Kamina Hmm to be more exact this is the autocomplete function if i'm correct? If you search, click the search button and then click the song in the list it does work if i'm correct?

[2017-09-14 17:38] Lord-Kamina commented on #290
@Baklap4 You're correct. My mistake was in part conditioned by something that I just noticed is UI-related. On a phone, the "Search" button appears unstyled and so I didn't actually see it, or it automatically "registered" as plain text in my brain so I never used it, was just trying to use auto-complete the whole time.

[2017-09-18 18:39] ShalokShalom opened #291 "Segmentation fault: Not found: Steven Dunston - Northern Star.MPG"
[code]

Build script:

[code]

Steps to reproduce: Start performous, launch default title. (Steven Dunston - Northern Star)

[2017-09-18 18:41] ShalokShalom commented on #291
OS is KaOS.

You find the build scripts of the dependencies here: https://github.com/KaOSx

Thanks a lot.

[2017-09-18 19:25] Lord-Kamina commented on #291
Is this on the stable 1.1?

[2017-09-18 20:45] ShalokShalom commented on #291
Yes.

[2017-10-02 13:43] #200 closed

[2017-10-02 13:43] #256 closed

[2017-10-02 13:49] basisbit commented on #256
thanks a lot for fixing this!

[2017-10-03 12:47] Stefan1200-de opened #292 "Windows 10 x64 Notebook - Performous 1.1 is not starting"
After executing the Performous.exe I only see that the Vocaluxe process is taking around 32% for an endless time (waited around 10 minutes until I took the Task Manager). This error also occurs with an empty songs directory. infolog.txt (debug log level) is attached to this issue.
[infolog.txt](https://github.com/performous/performous/files/1352288/infolog.txt)

On my Windows 10 x64 desktop PC eve

[2017-10-03 13:02] Baklap4 commented on #292
What model of Intel hd graphics do you have? We are aware of the bug related to the 1.1 tag and some Intel HD graphics card... #174

[2017-10-03 13:16] Stefan1200-de commented on #292
Intel HD Graphics 5500

Forcing Performous to use the NVidia 940M GPU does not help.

[2017-10-03 13:54] nieknooijens commented on #292
well... then it's something todo with windows and how it handles openGL.
stupid question: have you got the latest nvidia drivers from nvidia itself?
the reason I'm asking this is because I encountered some laptops in the past that had an nvidia driver from the laptop manufacturer installed, which was only a partial driver (only including directX and NO openGL!)

[2017-10-03 15:55] Baklap4 commented on #291
@ShalokShalom can you try the current master build?

[2017-10-03 15:58] Baklap4 commented on #288
@performous/contributors can someone try to build with the setup @jose1711 mentioned (on linux)? I'm currently not availble for trying this since i'm facing connectivity issues and hdd space issues

[2017-10-03 17:26] nieknooijens opened #293 "webserver annoyances"
while the new webserver is pretty fast and snappy I did encounter some minor annoyances using it last weekend @tomofair nijmegen.

first of all the Enter button behaviour is not what it's supposed to be, instead of doing the same as pressing "search"it selects the first entry of autocomplete, forcing you to press "search" with your mouse.
which brings me to the second issue: clicking an entry in t

[2017-10-03 17:40] Baklap4 commented on #293
Also linked by #290

[2017-10-03 19:50] Stefan1200-de commented on #292
Updated the NVidia driver to 385.69 (downloaded today from NVidia website). The Intel HD Graphics 5500 driver was already up to date. Tried to start with forcing to NVidia GPU and with default settings (which means Intel GPU), same result: Performous still don't start.

[2017-10-03 20:49] Lord-Kamina commented on #292
I don't think this is the same graphics issue. That bug didn't result in any problems starting performous itself. It just resulted in distorted graphics. Further, I've tried performous on W10 x64 both with some models of intel hd without any issue (the bug appears to be related to haswell-broadwell, _maybe_ skylake) gpus and also both AMD and NVidia cards without any issues: All the way from an HD

[2017-10-04 06:25] Stefan1200-de commented on #292
First: Release Version 1.1
[LOG.txt](https://github.com/performous/performous/files/1354762/LOG.txt)
[infolog.txt](https://github.com/performous/performous/files/1354763/infolog.txt)
Screenshot is not possible, since there is no Performous window coming up, it is just visible in task manager eating around 32% of my CPU in an endless loop.

Second: Your test build, **which is running by the way.**

[2017-10-04 06:46] Baklap4 commented on #292
@Stefan1200-de i see on your second note you're running on your nvidia card, can you try forcing the intel card?

[2017-10-04 13:51] nieknooijens commented on #292
added fix comitted since @Lord-Kamina 's build apparently solves it

[2017-10-04 19:45] Stefan1200-de commented on #292
@Baklap4 Well, your test build is starting with both GPUs, but on my Intel HD Graphics 5500 GPU it looks weird:
![2017-10-04 21_39_49-performous 1 1-318-g9a1b15ae](https://user-images.githubusercontent.com/15168351/31196236-49abab02-a94d-11e7-86d9-90c7370d96d7.png)

[2017-10-04 19:55] Baklap4 commented on #292
@Stefan1200-de that's a bug currently tracked by #174

[2017-10-04 20:07] Lord-Kamina commented on #292
Well, at least now I know that that didn't fix THAT issue hahahaha.

[2017-10-04 20:09] Baklap4 commented on #292
@Lord-Kamina sad but true yes :( however something did fix the 1.1 build from not starting; so that's Progress!

[2017-10-04 20:11] Baklap4 commented on #292
Closed as duplicate of #174 and label: 'fix committed' @Stefan1200-de Let's move to that thread for further investigation

[2017-10-04 20:11] #292 closed

[2017-10-04 20:21] Baklap4 commented on #174
#292 OP's setup:
OS: Windows 10 x64
CPU: Intel i5 5200U
RAM: 8 GByte RAM
GPU: NVidia 940M & Intel HD 5500 (multi GPU device!)
![image](https://user-images.githubusercontent.com/3918517/31197733-4c8ee366-a952-11e7-9da1-57e19e64e6f4.png)

[2017-10-04 20:31] Stefan1200-de commented on #174
Another note to the system information posted by @Baklap4 :
The Intel HD Graphics 5500 driver is up to date (20.19.15.4549).

Since my notebook is a multi GPU system, I can set Performous to use the NVidia GPU, which is working fine. But if I can help to test with my Intel HD Graphics 5500 GPU, feel free to ask me. :)

[2017-10-04 20:47] ShalokShalom commented on #291
This cause this issue
[code]

[2017-10-04 20:51] Baklap4 commented on #291
Possible duplicate of #288 @ShalokShalom can you confirm?

[2017-10-04 21:13] Baklap4 commented on #293
# TODO's
- [ ] Fix enter keypress on searching to actually search instead of selecting first autocomplete option
- [ ] Fix clicking autocomplete suggestions: 'No songs found using current filter'
- [ ] Fix #290 Probs related to 2nd TODO item

[2017-10-04 21:26] Baklap4 commented on #268
@Sapdos you have this working?
Closing due to inactivity. Feel free to re-open it if you're still facing this issue

[2017-10-04 21:26] #268 closed

[2017-10-04 22:19] Baklap4 commented on #225
@Lord-Kamina can you try this on current master?

[2017-10-04 23:08] Baklap4 commented on #225
Closed because of fix #241

[2017-10-04 23:08] #225 closed

[2017-10-05 07:04] #286 closed

[2017-10-05 09:53] ShalokShalom commented on #288
I use the gcc 6.4.0 here, with cmake 3.9.3 and make 4.2.1 on KaOS

See also: https://github.com/performous/performous/issues/291#issuecomment-334284499

[2017-10-14 18:22] bitozoid opened #295 "random audiohelp"
### Actual behaviour

When I run
[code]
it shows different random audio cards every time (2 or 3 profiles). Some of them do not work for me. So I need to restart several times until it gets a nice profile.

### Expected behaviour

I'd expect always to show the same available cards (and the good ones).

### Steps to reproduce

Just run several times
[code]

### Details

Performous 1.1
Linux 4.4.26

[2017-10-14 18:59] Lord-Kamina commented on #295
There might be already a fix for this on master; we recently merged a branch that makes performous choose one (and only one) audio backend (default is hardcoded by platform, can be overridden by the user)

[2017-10-16 17:50] nieknooijens commented on #222
the weird thing is that I don't encounter this on my PC using both the Nvidia GT840M, and intel HD4000

[2017-10-16 18:05] Lord-Kamina commented on #222
Is
Is this in master?

On October 16, 2017 at 14:50:07, niek nooijens (notifications@github.com)
wrote:

[2017-10-16 20:32] Baklap4 commented on #222
This is still within current master on both of my nvidia gt840m and intel HD4600

[2017-10-16 20:41] bitozoid commented on #295
Thanks a lot. I'll try when I have some time to compile it.

[2017-10-16 21:35] Lord-Kamina commented on #222
And was it also a thing on 1.1? Wondering whether it's an old bug or
introduced by my resolution branch.

On October 16, 2017 at 17:32:11, Arjan Spieard (notifications@github.com)
wrote:

[2017-10-16 21:59] Baklap4 commented on #222
@Lord-Kamina let me check

[2017-10-16 22:11] Baklap4 commented on #222
On Tag 1.1 running on NVIDIA GT840m And intel hd4600 in songbrowser it works alright:
![image](https://user-images.githubusercontent.com/3918517/31637502-4b7a2b6c-b2cf-11e7-8dea-dea43f4a744a.png)
However on the playlist screen there's this black bars:
![image](https://user-images.githubusercontent.com/3918517/31637516-5c9cd8c2-b2cf-11e7-82f0-e46232210071.png)

OpenGl spews out an error:
[code]
Thi

[2017-10-17 16:07] Baklap4 commented on #222
@Lord-Kamina an intresting thing is i'm seeing `menu.dimensions.stretch(wcounter, 1);` in menu's regarding configuration where all of the text is shown properly and scaled correctly. However i cant seem to find it in `screen_playlist.cc`  When for example saying `songlist_menu.dimensions.stretch(0.342308, 1);` in the draw of `screen_playlist.cc` it doesn't affect anything...

[2017-10-17 17:27] Baklap4 commented on #259
With @Lord-Kamina resolution branch being merged to master it's even harder to read the small text in the corner (since it's so small)

[2017-10-17 19:15] Lord-Kamina commented on #259
I know my branch made it smaller but (might be just me), it's still rendered better and thus easier to read.

[2017-10-17 19:44] Baklap4 commented on #259
At 2.0 text rendering its better as it was howeber since its so small now one can hardly read it hahah; action would be to increase font size

[2017-10-17 22:22] Baklap4 commented on #222
I think i've found the issue...

as posted on Discord:

@Lord-Kamina @nieknooijens can any of you reproduce this with higher text settings?

[2017-10-23 18:53] Baklap4 opened #296 "Webserver: Introduce authentication"
Currently anyone with the host's ip address can add/delete/reorder songs.
This should be an admin (event host) only feature unless otherwise specified.

I'm suggesting the following:
- [ ] Switch in game to enable/disable admin feature.
    - [ ] If enabled you must login as admin to add/remove/reorder songs
    - [ ] if enabled and not logged in you'll have a readonly version where one can:

[2017-10-24 06:43] nieknooijens commented on #296
might be a good alternative for all those booklets I carry around with me, because those are getting pretty thick (64 pages or more)

[2017-10-24 06:48] Baklap4 commented on #296
@nieknooijens i still have no clue why you started printing them in the first place xD
This in combination with #192 would be a golden feature then 👍

[2017-10-24 11:05] Lord-Kamina commented on #296
Maybe
Maybe he likes hoarding and carrying around the booklets; don't judge!

On October 24, 2017 at 03:48:46, Arjan Spieard (notifications@github.com)
wrote:

[2017-10-31 09:55] zosrothko commented on #39
If you need a lightweight c++ library to replace part or whole Boost, look at  [Poco](https://pocoproject.org/)

[2017-11-03 21:03] Baklap4 commented on #288
Guys i think i've found the problem. Since the webserver is included within master one has to have cppnetlib available. From our docs i've read the following:

This is correct version of cpp-netlib which it works for me with: https://github.com/cpp-netlib/cpp-netlib/archive/cpp-netlib-0.11.2-final.tar.gz

As our docs state copy the contents of the boost folder to `/usr/include/boost` and you're go

[2017-11-04 16:05] jose1711 commented on #288
installed cpp-netlib 0.11.2 and compilation is now failing at 34 %.
[code]

[2017-11-05 22:19] Lord-Kamina commented on #288
@jose1711 that should be fixed eventually but is not a priority. The reason for that failure is the cpp-netlib API changed between 0.11.2 and 0.12 and that is what breaks the build.

[2017-11-06 08:58] nieknooijens commented on #288
ubuntu 17.10 doesn't even feature a cpp-netlib package anymore, I had to install the one from 17.04...

[2017-11-06 13:26] Lord-Kamina commented on #288
I think an acceptable middle ground for now is checking at build-time the
version of cpp-netlib in the environment and adjust accordingly? I don't
think the change is particularly large but as I recall it changed the
signature of one of the methods we're using.

On November 6, 2017 at 08:30:00, Arjan Spieard (notifications@github.com)
wrote:

[2017-11-12 16:19] Lord-Kamina opened #298 "Crash related to covers."
I was playing for a pretty long while last night and I noticed several crashes... one of them appears to be related to drawing of song covers, although I'm not exactly sure what the issue is.

Here are two separate dumps, they might be related or might be different issues.

[performous_2017-11-12-022153_Anasas copy.log](https://github.com/performous/performous/files/1464861/performous_2017-11-12-0

[2017-11-12 16:22] Lord-Kamina opened #299 "Webserver crash on start due to port already in use"
I also experienced a webserver crash in a couple of occasions. Now, note... this might not be an actual issue because the internet and even the wifi in here is particularly shitty. Nonetheless, we should be able to gracefully handle this instead of producing a crash.

[performous_2017-11-12-022201_Anasas copy.log](https://github.com/performous/performous/files/1464867/performous_2017-11-12-022201_

[2017-11-12 16:26] Lord-Kamina opened #300 "One last crash; possibly caused by a zombie reference?"
Ok, am done with this one...

[performous_2017-11-12-034917_Anasas.crash.log](https://github.com/performous/performous/files/1464874/performous_2017-11-12-034917_Anasas.crash.log)

[2017-11-12 20:32] Baklap4 commented on #299
The thing happening here is:
* Performous crashed somehow
* Restarting performous generates a new crash due to port being still used by crashed performous

# Solution 1
Stall webserver startup till port is freed by the kernel and showing the user a message webserver temporarily not available (for that time)

# Solution 2
Start webserver on random generated port (which might be free).

I think we s

[2017-11-12 20:37] Baklap4 opened #301 "Webserver Drag & Drop issues"
While on mobile devices if one scrolls in the center items can be moved due to the drag and drop functionality. -> solution disable drag and drop on mobile

Also when drag and dropping it doesn't update the timestamps since the whole element is dragged, this fixes itself when the list is refreshed. -> Solution call refresh upon drop event

Also linked by #293

[2017-11-12 20:44] Baklap4 commented on #271
Still crashes on ubuntu 17.10

[2017-11-12 20:49] Lord-Kamina commented on #299
As discussed on Discord, I agree Solution 1 should be the goal.

[2017-11-17 10:41] diver66 opened #303 "Lubuntu 17.10 - sudo apt-get install performous - unmet dependencies"
Hi,

the installation under Lubuntu 17.10 fails.
sudo apt-get install performous

I get the message

The following packages have unmet dependencies
depends libopencv-core2.4v5 but it is not installable
depends libopencv-highgui2.4-deb0 but it is not installable
unable to correct problems, you have held broken packages

How can I solve this, it was working fine under 16.10. I actually wiped my HD a

[2017-11-30 08:23] #271 closed

[2017-12-02 04:17] Lord-Kamina opened #304 "Another webserver bug"
If while somebody is manually browsing the song database and looking for something, somebody else adds a song via the webserver, the on-screen selection changes to whatever is selected via the webserver.

[2017-12-02 04:56] earlye commented on #241
"well wasn't there a thread::join()? in the destructor of the webserver object?
then why doesn't it work correctly?"

The `m_server` and `m_serverThread` variables could be _null_, so calling `m_server->stop()` or `m_serverThread->join()` would segfault.

[2017-12-04 03:38] Lord-Kamina commented on #254
This issue is actually bigger than it would appear at first.

Quoting myself on Discord:

Please take a look at https://github.com/performous/performous/tree/issue/fix_skip_instrumental for what I've done so far; It'd be nice if someone can help also.

[2017-12-04 08:01] nieknooijens commented on #254
@Lord-Kamina please make a pull request with [WIP] in the title, then I can see the diff with master, which makes it easier to review and find what has been changed.

[2017-12-04 09:03] diver66 commented on #303
I still cannot install performous, any ideas how I can solve this problem ?

[2017-12-04 09:37] nieknooijens commented on #303
you could use our old ppa, or build it form source. (https://github.com/performous/performous/wiki/Building-and-installing-from-source) be aware though that cpp-netlib is no longer in the repositories of 17.10.  currently the workaround is to either build without webserver-support (use cmake-gui for that) or install the previous version from here:
https://packages.ubuntu.com/xenial/libdevel/libcpp

[2017-12-04 09:45] Baklap4 commented on #303
Or install it as mentioned in our docs:

[2017-12-04 17:03] diver66 commented on #303
@Baklap4  done that thanks, I feel a bit stupid asking this but : i tried to install
sudo apt-get install libcppnetlib0
sudo apt-get install libcppnetlib-dev

but i always get a unable to locate package error - any hints on how to solve this ?

[2017-12-04 17:19] Baklap4 commented on #303
@diver66 since ubuntu 17.10 (which lubuntu derives from) cppnetlib is not in the repo's anymore. Therefore you have to either build it yourself (or download the tarball) and manually install it (like you did).

To solve any apt-get issues, first run `sudo apt-get update` and then run `sudo apt-get install -f` afterwards run `sudo apt-get upgrade` and `sudo apt-get autoremove` this will leave you w

[2017-12-04 17:24] Baklap4 commented on #304
Confirmed. This happens because we're searching through the current library.  Possible fix is to copy the songs to another list which can be used by the webserver.
Another solution to fix this is to not redraw the list within the songbrowser while a request is coming from the webserver. I'm liking the 2nd more.

[2017-12-04 17:40] Baklap4 opened #306 "Upgrade to latest cppnetlib Or use boost"
We should upgrade from cppnetlib 0.11.2 to the latest stable (0.12.0)
Docs for 0.12.0 are to find here: http://cpp-netlib.org/0.12.0/index.html

Or while at it completely remove the cppnetlib library since it's not supported anymore in ubuntu > 17.10
and drop back to use boost::asio (http://www.boost.org/doc/libs/1_65_1/doc/html/boost_asio/examples/cpp11_examples.html )

Personal favorite goes to

[2017-12-04 17:49] Lord-Kamina commented on #306
I'm inclined to agree with dropping cpp-netlib.

[2017-12-04 17:53] Baklap4 commented on #306
@Lord-Kamina vote by emoji ;)

[2017-12-04 18:25] nieknooijens commented on #306
@Baklap4 voted as well, cpp-netlib is dropped from official repo's, boost::asio however is very unlikely to be dropped.

[2017-12-04 22:25] diver66 commented on #303
thank you

[2017-12-04 22:25] #303 closed

[2017-12-11 20:34] Baklap4 commented on #306
First i'll fix the webserver issues, then i'll get up to this someday since it's an enhancement

[2017-12-11 21:42] Baklap4 commented on #301
Fix committed: https://github.com/performous/performous/pull/312/commits/e034c799f8465aa4c259786ab5143274bd24371d

[2017-12-12 20:13] #290 closed

[2017-12-12 20:15] Baklap4 commented on #290
Closed as it's now a duplicate of #293

[2017-12-12 20:38] Baklap4 opened #315 "Drop glib2 as we use ICU now."
As mentioned on discord `glib2` can probably be dropped since we're using ICU now:

@Asgard Sings! while I was looking at fixing your BOM comment
I realized we're using glib2 for a number of things.
We can probably replace glib2 entirely with ICU
http://site.icu-project.org/charts/collation-icu4c-glibc this is some old data but it also appears for most things, ICU is a lot faster than glib
Collati

[2018-01-13 03:04] Lord-Kamina opened #316 "Actually a question but my discord is acting up: Multiple BPMs..."
As part of my duet fixes branch I was working on some code to automatically try to correct overlapping notes by shortening note end times (there is something like this in the code already but evidently it's not working very well) and while doing this I noticed there appears to be support for multiple BPMS inside txt files. More specifically, defining a BPM change inside the syllable definitions fo

[2018-01-14 01:25] #301 closed

[2018-01-18 01:11] #316 closed

[2018-01-19 21:49] Baklap4 commented on #299
Fixed submitted as per #318

[2018-01-19 21:50] Baklap4 commented on #293
Fix commited as per #317

[2018-01-30 19:13] diver66 opened #319 "Lubuntu 17.10 - Update Question"
Hi guys,

I have performous running on my Lubuntu system, I overcame the problem with the missing libs and installed them by hand (Thanks for the help) and built and installed it from source. Now everything is working fine. There is one thing I would like to ask :

I ran the following command to stay up to date - sudo add-apt-repository ppa:performous-team/daily

Even though I have the missing lib

[2018-01-30 22:36] Baklap4 commented on #319
Heyo @diver66 can you run `sudo apt-get install -f` this will install the unmet dependencies if im correct.

[2018-01-31 10:13] diver66 commented on #319
no basklap4 that does not work, i get the same error message

[2018-01-31 10:18] Baklap4 commented on #319
Which lubuntu version are you using?

[2018-01-31 10:27] diver66 commented on #319
Lubuntu 17.10

[2018-01-31 10:44] Baklap4 commented on #319
Ahh as mentioned on the docs:

The packages for opencv to be installed is `sudo apt-get install libopencv-core-dev`. This should get you the latest opencv libraries.

You said earlier you built from source. If you want to get the latest and greatest on Lubuntu 17.10 i'd advice you to run the following commands:

# If you haven't build from source earlier
`sudo apt-get update && sudo apt-get instal

[2018-01-31 11:14] diver66 commented on #319
great i try this now - and report back

[2018-01-31 12:31] diver66 commented on #319
well, i updated my cloned repo and it work without a flaw, thanks thanks thanks

[2018-01-31 13:42] Baklap4 commented on #319
Then i'm going to close this now ;)! Glad it works!

[2018-01-31 13:42] #319 closed

[2018-01-31 17:26] Baklap4 commented on #303
maybe to be mentioned here and in #319 the ppa of the daily builds are running up till Ubuntu Xenial (16.04) as the docs say.

[2018-01-31 17:32] Baklap4 opened #320 "Expose webserver running status"
With the latest branch https://github.com/performous/performous/tree/feature/PortInUseFix
We helped performous not to crash and ignore the webserver if the port is not free.
The text is a different matter as it still shows `Webserver active on 0.0.0.0:8080`

We need some way to expose the running state of the webserver to be able to switch the message to for example: "Trying to start up webserver"

[2018-02-01 08:02] nieknooijens commented on #320
we can recycle the message "webserver active! please connect to <ip address>:8000"
just put over there "cannot start webserver".

[2018-02-01 16:44] Baklap4 commented on #300
@Lord-Kamina As per your log i think it happened during deletion of a song from the current playlist.

[code]
Can you confirm if this is still present in the current UI?

Also if it still exists, can you confirm what has been send as request body?

[2018-02-01 16:48] Lord-Kamina commented on #300
I haven't been able to reproduce it but this doesn't mean it's not really there... honestly, don't know.

[2018-02-01 16:50] Baklap4 commented on #291
Closing this as duplicate and in favor of #288
A way to fix this has ben mentioned here: https://github.com/performous/performous/issues/288#issuecomment-341826412

[2018-02-01 16:50] #291 closed

[2018-02-03 09:14] #299 closed

[2018-02-10 18:05] ShalokShalom commented on #288
Does this checking at build time happen now?

[2018-02-12 15:33] Lord-Kamina commented on #288
No it doesn't because most of everybody's building environments include
cpp-netlib 0.11. The new versions of these have dropped cpp-netlib entirely
in fact. So, we will most likely scrap it altogether in favor of boost
networking, but AFAIK work has not yet begun on that.

--

On February 10, 2018 at 15:05:27, MatthiasSchuster (notifications@github.com)
wrote:

[2018-02-13 06:25] ShalokShalom commented on #288
Ah I see

[2018-02-20 22:56] Baklap4 commented on #306
THe webserver issues are fixed but still need some documentation.. almost done..

[2018-02-21 00:32] basisbit commented on #239
fyi, I stopped any work on this issue because of "dependencies hell". Anyone, please feel free to work on this issue if you want to 😃

[2018-02-22 07:32] nieknooijens commented on #239
@basisbit wat might be the best solution is how stepmania handled it.
they have a folder"ext" which contains all the dependencies as submodules, and then they literally scripted everything together using cmake. so if cmake doesn't detect the libs on the system it will compile and link them all.

[2018-03-02 16:40] Lord-Kamina commented on #315
As I commented on #325, I realized we cannot actually drop Glib2 entirely because several of the libraries we use depend on it in one way or another.

[2018-03-02 16:41] Lord-Kamina opened #327 "Loud pops when starting/restarting audio."
I don't know if anybody else has noticed this?

Sometimes when the audio starts or is destroyed, it makes a really loud pop... I was wondering whether it might be possible to fix this?

[2018-03-02 16:43] Baklap4 commented on #327
Is this with current master?

[2018-03-02 16:44] Lord-Kamina commented on #327
Yup.

[2018-03-02 16:56] Lord-Kamina commented on #327
Check this, here's a few samples:

https://www.dropbox.com/s/zflbchxwtaqg9m4/popping.mp4?dl=1

[2018-03-02 18:55] basisbit commented on #53
there exist some communities out there that play and share mostly creative commons licensed karaoke songs, so bunch of people having the same song txt file is not that uncommon. Because of possible licensing issues, there should be no transport of song files / covers / lyrics / videos from use user to another one.
One possibility would be to calculate a hash / checksum of the notes parts of the so

[2018-03-02 18:59] Baklap4 commented on #53
See also: https://github.com/performous/performous/issues/54 and https://github.com/performous/performous/issues/2

[2018-03-05 10:39] nieknooijens commented on #315
so this is considered a future improvement?

[2018-03-06 09:55] abompard opened #328 "Incorrect FSF postal address in the source files"
Hello! This is a non-technical issue, but very easy to fix and guaranteed without regressions.
The postal address for the FSF is incorrect in the following files:

 * tools/gh_fsb/fsbext.c
 * tools/gh_fsb/mywav.h
 * tools/gh_fsb/show_dump.h

Please paste the correct one from the main Performous license. Thanks !

[2018-03-06 10:11] Baklap4 commented on #328
Regarding to these files, there are still some warnings in fsbext if i'm correct. Maybe fix them up? Are there newer version of these?

[2018-03-06 19:21] Baklap4 commented on #259
Closed as this is obsolute due to #297  and #260 are already merged.

[2018-03-06 19:21] #259 closed

[2018-03-07 07:11] Lord-Kamina commented on #315
@nieknooijens Not really, I don't think so unless we're really planning to rewrite performous from the ground-up at some point. :P

[2018-03-07 18:26] Baklap4 commented on #229
This issue can be closed whenever #321 is merged.

[2018-03-09 08:53] Tronic commented on #328
I'd rather remove all licensing text from source code and add the corresponding notes to docs/Authors.txt (it seems to be missing now). However, the tools should probably be removed from Performous and archived as a separate project as they are seldom used nor maintained by anyone anymore (which is another issue).

For now, I have simply updated the license text, closing this issue.

[2018-03-09 08:54] #328 closed

[2018-03-09 09:04] Tronic opened #330 "Tools should be moved to a separate module"
The Singstar/GH extraction tools have lived a long life within the main Performous project. They are built alongside with the game and are often also installed even though only the game itself is wanted. Since there is nowadays very little need for rippers, no-one has maintained the tools and they keep spewing compiler warnings.

I suggest removing the tools folder from Performous and giving them

[2018-03-09 09:27] nieknooijens commented on #330
no comments, I completely agree.

and @Tronic welcome back :wave:

[2018-03-09 09:35] Tronic opened #331 "Website needs to be updated"
The last news post on performous.org is two years ago. This is the face on the project that most people see.

https://performous.org/blog

A new release would also be a great idea but until then at least some kind of status update would be helpful.

[2018-03-09 10:44] Tronic commented on #237
I've updated the project main level CMakeLists to use C++14ish (depending on which compiler is detected), which seems to be working (even with SemaphoreCI).

If this issue is still relevant, please clarify. Otherwise should be closed.

[2018-03-09 11:58] Baklap4 commented on #331
Aside from the blog.
The website itself may get a nice newish look aswell. Let's move this over to performous/web

[2018-03-09 11:58] #331 closed

[2018-03-09 12:00] Baklap4 commented on #330
Agreed!
Create a repo, dump the code over there.

[2018-03-09 12:03] Baklap4 commented on #328
@Tronic i'd like to inform to keep using branches and rebase/merge them back into master.
This way other's have to overlook the code and after review it may be merged to master. This increases code quality in general.

[2018-03-09 12:46] #330 closed

[2018-03-09 13:20] Lord-Kamina commented on #243
This was fixed already a while ago.

[2018-03-09 13:20] #243 closed

[2018-03-09 13:22] #157 closed

[2018-03-12 06:21] Tronic commented on #306
Dropping the dependency would be nice but Boost.ASIO is way too low level. DIY request handling, URL encoding etc. seems like a very bad idea.

Possibly we could bundle Cpp-netlib with Performous and have it (statically) built as a part of Performous build? This avoids the dep and still gives us the benefit of using a HTTP library instead of bare-bones ASIO.

[2018-03-12 07:59] #229 closed

[2018-03-13 17:28] Baklap4 commented on #315
Closing this since #325 is closed

[2018-03-13 17:28] #315 closed

[2018-03-13 17:30] Baklap4 commented on #162
@skyli91 can you check current master?

[2018-03-14 10:32] Tronic commented on #223
Webcam background usually takes care of this. Another thing we've considered is adding a visualizer (which turned out to be rather difficult). Still, shipping some sort of stock default background video with Performous might be a good idea. Ideally, default backgrounds could be chosen from a folder of choices (that the user may replace).

[2018-03-14 10:38] nieknooijens commented on #223
there are already default backgrounds, but thise are static images, a quick fix would be to add video support to that. I guess it's pretty easy to do some generic renderings in blender.

[2018-03-14 11:31] Baklap4 commented on #223
@Tronic a visualizer would be sweet!

[2018-03-14 17:55] #254 closed

[2018-03-15 12:56] Tronic commented on #223
If someone is actually interested, implementing our own visualizer from scratch is probably the way to go. Using Notes and/or Analyzer it can be made to respond nicely to music. Integrating some other library (that may or may not be based on OpenGL to start with) with our audio and graphics code is tricky, it brings yet another library dep, and the last time I looked, the most popular library was

[2018-03-16 08:25] Baklap4 commented on #300
Closing this due to not be able to reproduce this.

If you happen to face this again, please check the request send to the server and post the body over here.

[2018-03-16 08:25] #300 closed

[2018-03-16 12:10] Tronic opened #334 "Webserver code needs to be removed from screen_intro and disabled when not USE_WEBSERVER"
Currently there is plenty of webserver-dependent code in screen_intro, for displaying current IP address and whatnot. This code runs even when webserver is entirely disabled (claiming that the server is active).

* Move all code other than drawing the text to webserver.cc
* Make it report the actual server status (i.e. did you actually manage to bind to a port) rather than config values

[2018-03-16 22:11] Lord-Kamina opened #335 "Runaway CPU"
@Baklap4 noticed (I had seen it but not really paid attention) we have a pretty bad issue with CPU usage in master. Performous is constantly using 500%+ CPU.

At first I thought it might have been one of my recently merged PRs but now it's not looking that way. I'm still processing a run through XCode Instruments to see whether I get any more detailed information but for now I have this.

![0 2018

[2018-03-16 23:00] Baklap4 commented on #335
Hmm maybe try to go back with commits checking what caused this hmmm

[2018-03-16 23:01] Baklap4 commented on #335
Also what is performous doing on the other threads?
One was loading songs, second the webserver, 3rd main thread, 4th ui thread.. and thats about it as it shoupd i think?

[2018-03-16 23:02] Lord-Kamina commented on #335
![0 2018-03-16 at 20 00 14](https://user-images.githubusercontent.com/6446892/37548151-b70f6206-2954-11e8-8e50-713dd2d77885.PNG)

Here's some more info.

[2018-03-16 23:04] Lord-Kamina commented on #335
@Baklap4 yeah other threads were fine. In fact, I noticed the song loading thread because if you notice, near the end there's an abrupt drop in activity: When it finished loading the library. The other threads (around 10 different threads) were hogging all CPU with ffmpeg.

[2018-03-17 16:38] Lord-Kamina commented on #335
I don't know _why_ but I've already found the guilty commit; it's 4015865e9e7ad20db18febb5641bed1344f9fe38

@yoda-jm take a look at it, please?

[2018-03-19 08:10] Baklap4 opened #338 "Convert project from tabs to spaces."
Currently the project consists of a mix between tabs and spaces.
Let's clean this up to the following
* All spaces
* Whereas a tab can be identified by 4 spaces.

Why spaces vs tabs?

A tab can be a different number of columns depending on the environment, whereas a space is always one column.
In most editors you can set the number of spaces a tab must consist of please set this to 4 and then mark

[2018-03-19 08:22] nieknooijens commented on #338
I'm actually for TABS, since they have a variable width (depending on what you think is best readable) but most important: when changing indentation back one level, I only have to press backspace ONCE with a tab where I have to press it 4 times with spaces. this can become very annoying very fast when using editors like VI.

[2018-03-19 08:32] Baklap4 commented on #338
Like i said, almost every editor can be set to convert tabs to spaces according to how many spaces you want. for example VI: http://vim.wikia.com/wiki/Converting_tabs_to_spaces

I stand with my opinion tabs can be variable column size depending on the environment, whereas a space is always 1 column.

[2018-03-19 09:16] Tronic commented on #338
The coding style states that "tab character" should be used. The topic has been discussed to death elsewhere, so I'll simply vote that **we keep using tabs.**

[2018-03-19 09:30] yoda-jm commented on #338
I vote for tabs too because:
- it was the default until then
- it is easier to read/edit in non-fancy editors

A few exception could occur.

I saw that clang has some kind of formater for C/C++, we might want to have a look at it to have sane defaults.

[2018-03-19 09:37] Tronic commented on #338
FWIW, space-indented **line counts** in current master:
game/audio.cc:3
game/configuration.cc:330
game/ffmpeg.cc:2
game/fs.cc:26
game/game.cc:3
game/playlist.hh:1
game/screen.hh:2
game/screen_sing.cc:2
game/screen_songs.cc:1
game/songparser-txt.cc:203
game/webserver.cc:5

These files contain mixed indentation (some tabs, some spaces), except for configuration.cc which was apparently converted into

[2018-03-19 10:44] Lord-Kamina commented on #338
I also vote for tabs.

FWIW the indentation issues in my PR were caused by mixed tabs and spaces.

[2018-03-19 11:27] Baklap4 commented on #338
@Tronic @Lord-Kamina @nieknooijens @yoda-jm
Aight as discussed here keep the tabs instead of spaces although my great hate against it. But then let's fix up all the files containing spaces and turn them into tabs.

[2018-03-19 22:11] Lord-Kamina commented on #338
I just noticed, I was accidentally indenting with spaces in some of my latest commits. *facepalm*
I made several of those (including the re-indent commit) with Xcode but turns out I had configured Xcode wrong.

How about after we fix and merge what we've got in the queue we make a PR to fix indentation project-wide? (XCode does an amazing job of it, provided you're not an idiot like me.)

[2018-03-19 22:17] Baklap4 commented on #338
Updated it to your name @Lord-Kamina
The suggestion for first fixing the already made pr's and than fixing the indentations is alright by me

[2018-03-19 22:20] Baklap4 commented on #295
Checking this right now on master. Will report in a few

[2018-03-19 22:23] Baklap4 commented on #295
Just tried it multiple times, and seeing the same available cards. Closing this as already fixed.

[2018-03-19 22:23] #295 closed

[2018-03-19 22:31] Baklap4 commented on #288
Closing this since i just made a change on the wiki saying we depend on 0.11.2 for now: https://github.com/performous/performous/wiki/Building-and-installing-from-source/_compare/84a792316177e271a4e45675c13996d6a9f23d36...62dda5a5b19bb2e085ef286ccc7c191505943137

Discussion regarding cppnetlib or boost is held at #306 please continue there.

[2018-03-19 22:31] #288 closed

[2018-03-19 22:43] Baklap4 commented on #201
Closing this as per https://github.com/performous/performous/wiki/Building-and-installing-from-source/_compare/84a792316177e271a4e45675c13996d6a9f23d36...62dda5a5b19bb2e085ef286ccc7c191505943137 there's stated we depend on this specifc version.

The discussion to keep using cppnetlib or use something else can be wrapped up in #306

[2018-03-19 22:43] #201 closed

[2018-03-19 22:46] Baklap4 commented on #187
is this still an issue with current master (using ICU for text processing now)? @Lord-Kamina

[2018-03-19 22:50] Baklap4 commented on #174
@Stefan1200-de could you try out this last windows build: https://asgardsings.nl/performous-installer-g4e372338.exe ? Yes the build is very slow (lot's of cpu usage) but that's another issue (#335)

When i tried this, i didn't have a teared / broken screen

[2018-03-19 23:39] Baklap4 commented on #71
@Tronic do you still have this issue?
As @nieknooijens says we can only trigger this when the cpu is running out of clockcycles..

[2018-03-19 23:42] Baklap4 commented on #39
slowly we're getting there: https://github.com/performous/performous/pull/339

[2018-03-20 06:26] Tronic commented on #338
Unmerged branches could be fixed (undoing/reverting any indent changes) before merging to master. I suppose that this would make those changes disappear from git history, if the commits are squashed together on merge.

[2018-03-20 07:38] nieknooijens commented on #187
ICU should actually fix this, so we should test it and then close this issue.

[2018-03-20 10:31] Lord-Kamina commented on #187
I know it has the option to include accents in sorting but I don't think it
does it by default. So we should test.

Also, I don't know think we're currently using ICU in sorting

On March 20, 2018 at 04:38:51, niek nooijens (notifications@github.com)
wrote:

[2018-03-21 14:35] Tronic commented on #71
I switched to Mac and thus don't have any Linux machines or audio troubles anymore, so I'll boldly consider this issue closed.

[2018-03-21 14:35] #71 closed

[2018-03-22 18:43] Stefan1200-de commented on #174
@Baklap4 Well, if I try to run that build with the Intel GPU, I still have that problem followed by a crash of Performous. If I try to run that build with the NVidia 940M GPU, I have a complete freeze of Windows 10, only a hard power cycle is helping to get my Notebook back to work.

[2018-03-23 09:57] Baklap4 commented on #174
@Stefan1200-de this weekend i'll create a new build of our opengl branch Let's try that one later on

[2018-03-23 18:37] Lord-Kamina commented on #335
I mentioned this on discord earlier but in order to ensure people not using Discord will also read it.

I was playing around with this code a bit and noticed the following, which might be useful in resolving this:

[code]

If you do this, the high-CPU usage is resolved and only one or two threads run instances of operator() and decodePacket(); however, not everything works as expected. For example

[2018-03-24 00:51] yoda-jm commented on #335
Please take a look at https://github.com/yoda-jm/performous/commit/656738595db136ccaf84e451628acd7e76d83416 this is the right way to go:
decode in a loop with the following order:
- read_frame : in fact read packet in stream/file
- send_packet : send what has been read to the decoder
- receive_frame : retrieve decoded data from decoder if any
Each step could return:
- EOF : success, we complete th

[2018-03-25 19:34] bitozoid commented on #295
Finally compiled it today. Looks much better, but I still get sometimes 6 or 8 devices.

[2018-03-25 19:43] Lord-Kamina commented on #295
Can you post a few examples?

[2018-03-25 19:55] bitozoid commented on #295
First I try several times and I get always the same:
[code]

Then I start/stop performous. I try again and...
[code]

[2018-03-26 17:06] Baklap4 commented on #174
@Stefan1200-de I've made a windows build on our current openGL branch...

Open GL Branch with current master: https://asgardsings.nl/Performous-1.1-554-opengl-with-master.exe
OpenGL Branch as it currently is: https://asgardsings.nl/Performous-1.1.X-opengl.exe

The one with master in it, can be horribly slow due to #335
Can you please give these a try?

[2018-03-27 17:29] #293 closed

[2018-03-28 22:36] yoda-jm opened #346 "Use boost::condition in FFmpeg class to avoid pulling it"
When the FFmpeg decoding is done, the decoding thread is pulling the m_quit variable with the following pattern:
[code]
Instead we should have a boost:condition linked to m_quit to notify the decoding thread.

[2018-03-29 16:24] Baklap4 commented on #335
@yoda-jm this can be closed since #344 is closed right? Please reopen if you think it's still not completed

[2018-03-29 19:10] Baklap4 commented on #335
@yoda-jm  I've reopened this issue.
While running on my dedicated card (nvidia Geforce 840m) it runs alright with about 15-30% cpu which is okay'ish.
However when i'm running on my integrated card (intel HD 4600) it still runs at 80-100% cpu...
This is as current master right now is.

[2018-03-29 19:14] Baklap4 commented on #335
I have no idea how :joy: if someone can teach me i'm up for it :dagger:
Note i'm just running from a terminal and editing from sublime.. so no fancy ide tools...

[2018-03-29 19:54] Baklap4 commented on #5
@performous/contributors  Closing this due to inactiveness.
Please reopen if you think an option is not in UI yet.

[2018-03-29 19:54] #5 closed

[2018-03-29 19:59] #10 closed, assigned to nobody

[2018-03-29 20:09] #22 closed, assigned to nobody

[2018-03-29 20:12] Baklap4 commented on #12
@Tronic Status update for this would be nice regarding the current the state of the application.

[2018-03-29 20:15] Baklap4 commented on #39
Slowly getting there by replacing boost::shared_ptrs and boost::thread -> std::thread: #347

[2018-03-29 20:40] Baklap4 commented on #147
Closing this as a duplicate of #17
If any objection feel free to reopen it or create a new issue.

[2018-03-29 20:40] #147 closed

[2018-03-29 20:46] Baklap4 commented on #159
@frankhedecke is this development still going or? If so can you please report any updates regarding the matter? For now i'm considering this as `Inactive` and will therefore close the issue. However feel free to reopen this / create a pull request if you want to share something with the world.

[2018-03-29 20:46] #159 closed

[2018-03-29 21:28] Baklap4 commented on #239
As mentioned some time ago.
I've managed to make a build while on Windows 10.
However this succeeded by using the internal Linux Subsystem for Windows.
I've configured visual studio to publish a build to a location the subsystem can reach. then the subsystem created the build, then by hitting f5 (run) it'd start vnc and run it (as a linux binary), far from perfect but it can be done.
I bet it can

[2018-03-29 21:31] #239 closed

[2018-03-29 22:08] Baklap4 opened #348 "Add Code of Conduct"
As part of the [checklist](https://github.com/performous/performous/community) it'd be nice to add a code of conduct.

The file `CODE_OF_CONDUCT.md` has to be in the `.github` folder in the root of the project and should contain details about:

See https://help.github.com/articles/adding-a-code-of-conduct-to-your-project/ for more info.

[2018-03-29 22:12] Baklap4 opened #349 "Add Contributing guidelines"
As part of the [checklist](https://github.com/performous/performous/community) it'd be nice to add Contributing Guidelines.

The file `CONTRIBUTING.md` has to be in the `.github` folder in the root of the project and should contain details about:

For the repository owner, contribution guidelines are a way to communicate how people should contribute.
For contributors, the guidelines help them veri

[2018-03-29 22:19] Baklap4 opened #350 "Add Template files"
Another good thing to have in your `.github` folder is to have templates for issues, pull requests, features and bugs.

[code]

We already have an issue template. so that's fixed already however the others would be nice too especially since we're merging a lot lately. This also comes in handy for releases.

[2018-03-30 06:40] nieknooijens commented on #133
so basically:
#VIDEOGAP: shift video
#GAP: shift lyrics
#START:shift audio.

those names are confusing :confused:

[2018-03-30 06:41] nieknooijens commented on #12
audacity has a pitch shifter so basically copy the logic from that.

[2018-03-30 06:43] nieknooijens commented on #335
I used to use valgrind for profiling, but valgrind emulates multithreading on a single thread.
the developers of valgrind say a program under it runs at 50% speed. in my experience it's even worse... more like 15% speed.

[2018-03-30 06:52] Baklap4 commented on #133
#VIDEOGAP: shift video
#GAP: shift lyrics
#START:shift audio.

Correct, and yeah they are however that's how usdx uses/implemented them so if we want to stay compatiable then we should aswell (as optional though as just a few files have them)

[2018-03-30 06:55] Baklap4 commented on #335
i used that one. Performous wasn't responding at all and getting lots of `underrun occured messages` from alsa

I also used `gprof` but it didn't show me anything?

[2018-03-30 07:11] yoda-jm commented on #12
Could be nice, but probably no so easy because we need to adjust phase: pitch shift is changing continuously with a whammy bar, it is not just a: "pitch change the whole song".
Anyway, worse a try, but I'm quite sure it will crack all over because of the signal discontinuity?

[2018-03-30 07:14] yoda-jm commented on #335
I could be wrong, but having a difference on Intel card, especially an integrated one is really not surprising. I'm quite sure that a lot of rendering is done in software.
My advice: you want to run an OpenGL game => have a decent video card.
On problem I notice few years ago was also that Performous is heavily multi-threaded, so single core CPU won't behave nicely => advice here: don't run Perfor

[2018-03-30 12:09] Lord-Kamina commented on #335
I haven't really profiled it, but I've played performous on pentium and
occasionally even celeron laptops before, and as long as I don't go insane
with the svg and text quality it runs/used to run pretty well.

So, do compare again current master with an older branch (or master minus
ffmpeg commits to make extra sure everything is behaving)

On March 30, 2018 at 04:14:56, Vincent Le Ligeour (notif

[2018-03-30 14:04] Stefan1200-de commented on #174
**Performous-1.1-554-opengl-with-master.exe**
If I try to run that build with the Intel GPU, I still have that problem followed by a crash of Performous.
If I try to run that build with the NVidia 940M GPU, I have a complete freeze of Windows 10, only a hard power cycle is helping to get my Notebook back to work.

**Performous-1.1.X-opengl.exe**
Runs on NVidia 940M GPU without problem.
Runs on Int

[2018-04-02 13:01] Baklap4 opened #351 "Bug/Feature Songs getting removed while trying to play."
As mentioned on Discord i've encountered an issue with some songs i've played last event. The message telling me: `Notes must have positive durations.`

This was added in commit: https://github.com/performous/performous/commit/eb0c4ed0fe884a1df058f52a2455426c18515827#diff-a74329148b8018fe77d1730d9c5cfe4f

![image](https://user-images.githubusercontent.com/3918517/38196905-c6d9cb34-3685-11e8-83be-b

[2018-04-02 18:04] basisbit commented on #351
Usdx just ignores notes of 0 length and continues. I'd suggest implementing
very fault tolerant behaviour to keep people happy :)

Arjan Spieard <notifications@github.com> schrieb am Mo., 2. Apr. 2018,
06:01:

[2018-04-03 12:59] Tronic commented on #57
The UI is getting rather complicated with so many options. Screen songs should be redesigned so that you could at least see where you are navigating with the options (when you press up/down). Maybe similar to Playstation menus?

Sorting by difficulty is also quite problematic because songs can have multiple difficulty levels and for others there is no information on difficulty (depending on song t

[2018-04-04 14:06] #351 closed

[2018-04-04 14:15] Tronic commented on #335
Where is the CPU usage high, even on main menu? For me the CPU usage has been really low once the ffmpeg busy-polling problem was fixed.

[2018-04-04 14:29] Lord-Kamina commented on #174
@Stefan1200-de damn. Could you run the one that doesn't crash with  ```--log debug``` and post the logs?

[2018-04-04 14:35] Tronic commented on #232
I cannot reproduce this. If holding right arrow, Cmd+R does nothing. If I briefly release and then reload, it simply stops the browsing. Is this still broken for you?

[2018-04-04 16:45] Baklap4 commented on #335
while on my integrated card (intel hd 4600) cpu usage skyrockets (80-100%) within the main menu and songbrowser. While playing a song the cpu drops to 50-60% (STILL HIGH)

this is when all songs have loaded

[2018-04-05 08:43] Tronic commented on #335
I wonder if this could be caused by using legacy OpenGL and forcing drivers to do something in software? Switching to OpenGL 3.3 Core Profile might help (but cannot be easily done without rewriting much of Performous OpenGL code). Can you see what the threads that use CPU are related to?

[2018-04-05 10:13] Tronic opened #356 "Sometimes menu music plays instead of a song"
Trying to play Defy the Machine, about 50 % of times when I start the song, clock stays at zero and main theme music plays instead of the actual song. Exit and try again, then it works normally. Try again and it fails again.

[2018-04-05 11:07] Baklap4 commented on #356
I haven't encountered this yet

[2018-04-05 11:09] Baklap4 commented on #335
@Lord-Kamina tonight i will build a branch which i knew worked without cpu spikes, i'll let you know
@Tronic as i currently cannot / do not know how to profile performous i sadly can't see what is using what..

[2018-04-05 12:13] #237 closed

[2018-04-05 12:46] Tronic commented on #356
Quite possibly related: sometimes menu music doesn't play in menu. Enter some other screen (e.g. practice) and come back, then it plays. (with garbled audio at the beginning?)

[2018-04-05 13:38] Lord-Kamina commented on #335
@tronic we already have an ogl3.3 core branch laying around (there's no PR though). I made it and for most of us, performance was slightly worse than normal, so we didn't merge it. Ideally, I was thinking if we could implement texture batching or aliases we might be able to optimize it and make it run faster, but I'm not experienced enough to do that. Do check it out though if you want.

[2018-04-06 08:33] Tronic commented on #356
Fixed in pull request #359.

[2018-04-06 08:33] #356 closed

[2018-04-06 10:05] Tronic commented on #320
What's up with this? Also related to #334.

[2018-04-06 11:11] Baklap4 commented on #320
If for some reason the webserver failed to start, we should display it on screen. Can be implemented together with #334 indeed to clean shit up

[2018-04-06 13:14] Tronic commented on #346
Fixed by using std::future/promise instead of a quit flag.

[2018-04-06 13:14] #346 closed

[2018-04-06 13:31] Tronic opened #361 "Pressing Start to close instrument menu misbehaves"
The instrument menu is closed when Start is pressed but it opens again when the button is released. Expected: close the menu (either on press or release) and continue gameplay.

This happens both with and without the rejoin commit just merged to master.

[2018-04-06 15:46] Stefan1200-de commented on #174
@Lord-Kamina **Performous-1.1.X-opengl.exe** with Intel GPU and disturbed / displaced graphics:
[infolog.txt](https://github.com/performous/performous/files/1884653/infolog.txt)

[2018-04-10 12:47] Tronic opened #366 "Testers with 4k 3D TVs and other devices needed"
There's now support for interlaced and checkerboard stereo 3d modes in issue #365. This needs testing with as many different devices as possible, so please do and give feedback if you have any.

[2018-04-11 19:00] Lord-Kamina commented on #366
We might still find somebody but I think 4k 3d tvs are not being produced anymore?

[2018-04-28 18:09] Lord-Kamina opened #369 "Ok seriously... we need to drop cpp-netlib."
I opened another issue because I think we need to retake this discussion and the best way to do it is starting fresh.

cpp-netlib is a fucking mess; 0.11.2 won't compile at all on boost >= 1.66; and the tests won't build on 1.65 either due to some issue with the Boost Testing framework. I can get it to build if I don't run tests but that's hardly ideal.
cpp-netlib 0.12 changed to standalone Asio i

[2018-04-28 19:09] Lord-Kamina commented on #369
What about this?
https://stiffstream.com/en/docs/restinio/0.4/whatis.html

[2018-04-28 20:58] Lord-Kamina commented on #369
This could also be a good alternative?
https://github.com/microsoft/cpprestsdk

[2018-04-30 07:01] nieknooijens commented on #369
it's probably easier than that.
the nice part about cpp-netlib is that you create a server, which points to a function which tells what to do when a request comes in.
the only parts that are used from cpp-netlib are the request/response objects and the "stock responses"
this can easily be implemented using standard socket logic. eliminating cpp-netlib and boost entirely.

[2018-04-30 14:18] Lord-Kamina commented on #369
Perhaps, did you check out Restinio though? It looks beautifully simple, plus it (and most of its dependencies) are header-only.

[2018-04-30 14:32] nieknooijens commented on #369
yeah it looks almost the same as cpp-netlib, should be an easy port!

[2018-05-16 15:46] omni6 opened #371 "Performous crash on startup on Arch linux"
### Actual behaviour
When starting i can see that composite turns off and back on but then nothing happens.

### Expected behaviour
Performous starts.

### Steps to reproduce
On Arch install game and try to run it (Manjaro same behaviour)

### Details

Performous 1.1 and/or latest master
Arch Kernel 4.16.8
Kde Plasma5 5.12.5
Kde Frameworks 5.46
amdgpu 18.0.1
mesa 18.0.3
glibc 2.27
gcc 8.1

Cli out

[2018-05-17 06:48] nieknooijens commented on #371
do you have the latest libepoxy?
and why is it installed in /usr/share?
on ubuntu it installes in /usr/local/games

[2018-05-17 16:28] omni6 commented on #371
libepoxy is at 1.5.1

And the install path is because arch compiles with `-DCMAKE_INSTALL_PREFIX=/usr` but this is common and worked all the time before the crash occourred.

[2018-05-19 01:31] dos1 opened #373 "Crash in librsvg"
### Actual behaviour

Performous crashes short moment after selecting a song to play.

[code]

### Expected behaviour

The song should start to play :)

### Steps to reproduce

Launch the game and try to play a song.

### Details

- performous version: tested with both 1.1 from the Arch repo and 2973889a from git
- operating system + version: Arch, librsvg tested with both 2.42.4-1 from repos and

[2018-05-19 01:45] Lord-Kamina commented on #373
Nice to know it’s not just me/mac then.
Try librsvg 2.40 and it will most likely work.

It’d be really nice to figure what is actually causing this crash, however,
as evidently we cannot keep using an old librsvg forever.

On May 18, 2018 at 22:31:03, Sebastian Krzyszkowiak (
notifications@github.com) wrote:

Actual behaviour

Performous crashes short moment after selecting a song to play.

Thread

[2018-05-25 15:34] Lord-Kamina commented on #373
@dos1 can you please confirm whether my suggestion helped please?

[2018-05-25 20:35] dos1 commented on #373
@Lord-Kamina Yup, it did!

[2018-05-25 20:53] Lord-Kamina commented on #373
Awesome. @performous/contributors  do we have any idea what could be causing this crash with newer versions of librsvg?

[2018-05-26 21:36] dos1 commented on #373
Could somebody more familiar with performous' codebase at least check which SVG file causes the problem, so we can check if it's maybe purely librsvg's issue? :) It seems to be something that's loaded soon after the song starts, possibly the note bars or notes themselves.

[2018-05-27 17:40] kstadler opened #374 "RetroArch / libretro core?"
Hello,

how about implementing a RetroArch/libretro core for Performous?
I think this would be a great addition to RetroArch, especially since libretro doesn't support PS2 Emulation yet.
Please see https://www.libretro.com/index.php/develop/ for technical details.

Best regards
Klaus

[2018-05-28 06:44] nieknooijens commented on #374
I don't really get what you want here. libretro is mainly for emulation, while we are just a singstar clone.
I think building a libretro module for PCSX2 would fit your use-case better IMHO.

[2018-05-28 16:45] kstadler commented on #374
The same could be said for MrBoom, which is a clone of Bomberman and available as a libretro core.
After Setup, Performous would even allow to use data from original SingStar discs, which makes it kind of a SingStar Emulator (even though it doesn't try to do everything the same way).
I don't know technical details about PCSX2, but I think I read somewhere that it isn't part of libretro because of

[2018-05-28 19:53] Baklap4 commented on #373
Didn't we some time ago update some svg's ? Maybe it's because of that?

[2018-05-28 20:42] Baklap4 commented on #373
@dos1 if you delete your performous .cache folder (default `/home/user/.cache/performous`) it should reload every svg again. If you do this with `performous -l debug` you'll see exactly which files were loaded at that time. Can you please upload this log?

[2018-05-28 20:53] Baklap4 commented on #335
Hmm intresting. @Tronic @Lord-Kamina  I upgraded my ubuntu from 17.04 to 17.10 which enabled wayland. While logged in a wayland session starting performous on integrated card all cpu's are spiking at 80-100%. But if change back to the good old xorg session its stable around 10% on the same integrated graphics. Maybe there's a lead?

[2018-05-28 20:54] dos1 commented on #373
Thanks a lot! It's `/usr/share/games/performous/themes/default/star.svg`, it crashes librsvg 2.42.4 even when using tools like rsvg-view-3 or rsvg-convert.

[2018-05-28 20:57] Baklap4 commented on #373
Hmm can you open the file with the latest Inkscape, upgrade the file (it'll prompt a message about dpi) save it and retry?

[2018-05-28 21:01] dos1 commented on #373
Still the same. I have filled a bugreport upstream: https://gitlab.gnome.org/GNOME/librsvg/issues/266

[2018-05-28 21:04] Baklap4 commented on #373
Awesome thanks! :+1:

[2018-05-28 21:05] Baklap4 commented on #373
Added `On hold status` to see what happens upstream.

[2018-05-29 16:46] Lord-Kamina commented on #369
I'm more partial to RESTinio, even though it's not in most repos because a) cpprestsdk is apparent quite slow and buggy. And b) RESTinio and almost all its deps are header-only so we could even bundle them into performous if so desired. Plus, the API is very nice.

[2018-05-29 21:31] Lord-Kamina commented on #369
Originally I was looking into it because also of the json support but it's
pretty slow and not very standards-compliant. I'd rather switch to
rapidjson (which is also header-only)

I don't know... I really like RESTinio, it's a modern and compact project
made from.the ground up with modern c++ in mind.

I was working also on porting to rapidjson (and from there to RESTinio),
it's just I've been pr

[2018-05-30 15:46] #348 closed

[2018-05-30 15:46] #349 closed

[2018-05-30 15:46] #350 closed

[2018-05-30 19:42] Baklap4 opened #376 "Removing songId from playlist crashes performous"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

* I made a playlist with 4 songs in it.
* I removed id `-5` from the playlist through our webserver by using curl
    * This resulted in a crash

### What did you expect to see?

I'd expect performous not to crash.
I'd expect performous to check the playlist size and if the given index is available before deletio

[2018-05-30 19:45] Baklap4 commented on #376
In Addition to this, if you keep deleting songs and end up with an empty playlist and try to delete some more it'll result in a segfault aswell. But that's more for the webserver to be fixed.

Currently i'm completely rewriting the webserver due to #369 so this won't be happening anymore.

[2018-05-31 07:19] nieknooijens commented on #376
so you remove negative numbers? we didn't know those existed :astonished:

[2018-05-31 19:09] #306 closed

[2018-05-31 19:09] #369 closed

[2018-06-01 22:11] Lord-Kamina commented on #373
Apparently it was a locale bug. There's commas uses as decimal scattered throughout the file.

[2018-06-01 22:18] dos1 commented on #373
Seems there is also some similar, but different issue with `/usr/share/games/performous/backgrounds/default_bg.svg`, I'll look at it.

[2018-06-02 00:37] dos1 commented on #373
Only the ones from `star.svg` and `star_glow.svg`, `default_bg.svg` still crashes: https://gitlab.gnome.org/GNOME/librsvg/issues/278

[2018-06-02 01:00] dos1 commented on #373
There's also another issue with other files that doesn't affect current stable, but crashes librsvg from master: https://gitlab.gnome.org/GNOME/librsvg/issues/279 :D

[2018-06-02 01:10] dos1 commented on #373
Both new issues happen only in master, so hopefully both will be fixed before 2.43 with no changes needed on Performous side. When it comes to original issue, I've just sent a PR for it, so it won't crash regardless of librsvg version.

[2018-06-02 07:20] JonasKress opened #380 "Feature request: Midi keyboard"
It would be very nice if performous would also support midi keyboards, so one could learn how to play the keyboard using midi files.

There is an existing open source implementation which is unfortunately not developed anymore:
https://github.com/linthesia/linthesia

![image](https://user-images.githubusercontent.com/13198391/40871959-cdcd246e-6645-11e8-890d-9247916a7d3e.png)

[2018-06-02 08:30] #373 closed

[2018-06-02 08:34] Baklap4 commented on #373
@dos1 thanks for the fix on the svgs! As for the new issue if something needs to be changed on our side feel free to do so and send in a new pr :)!

[2018-06-02 22:34] omni6 commented on #371
One of the latest commits solved my Issue, everything fine again!
Thank you..

[2018-06-02 22:34] #371 closed

[2018-06-03 12:19] Baklap4 commented on #371
@omni6 we updated from cppnetlib to cpprestsdk and updated a few svgs since they were broken hmmm

[2018-06-04 06:44] nieknooijens commented on #380
so basically keyboardmania/nostalgica game mode?
https://en.wikipedia.org/wiki/Keyboardmania
(a friend of mine has a keyboardmania 5th mix cab)

[2018-06-05 15:46] Baklap4 commented on #376
Can't be done anymore by the webserver. Closing this since it also can't be done within the game itself.

[2018-06-05 15:46] #376 closed

[2018-06-13 23:57] Lord-Kamina opened #383 "Performous crashing with libepoxy 1.5.2 on macOS."
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

Run performous

### What did you expect to see?

It working

### What did you see instead?

A crash report

### Output of `performous --version`: (_What version of Performous are you using?_)

Latest master

So... something in 1.5.2 is causing Performous to die. I've opened a ticket upstream to see whether they c

[2018-06-14 00:50] Baklap4 commented on #383
Maybe related to #371

[2018-07-01 00:11] Lord-Kamina opened #386 "Song caché: Doesn't check for removed songs."
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

Change my song folder to one I use for testing.

### What did you expect to see?

Songs from my new song folder.

### What did you see instead?

Songs from the new folder, plus songs from the old one.
I expected a segfault or error, actually, but this at least didn't happen in my case because the metadata json st

[2018-07-01 09:02] nieknooijens commented on #386
workaround: delete the cache file in your home folder.

[2018-07-01 12:42] Baklap4 commented on #386
I need some more info regarding this as the cache does check for removed songs:

[code]
@Lord-Kamina did you mean by 'removed' songs changing the song directory (within your config.xml) or by adding it as a parameter? While the other folder is still available on that hard drive? Because in my opinion it's not a deleted song as it's still available from a source.

I think the desired behavior would

[2018-07-01 15:44] Lord-Kamina commented on #386
I changed it in the config.xml, and I see your point

I agree re:the desired behavior.

[2018-07-01 15:45] Lord-Kamina commented on #386
@nieknooijens that's what I did for subsequent tests.

[2018-07-02 06:54] Baklap4 commented on #386
Aight will make a pr tonight for this behavior 👍

[2018-07-02 06:56] Baklap4 commented on #327
@Lord-Kamina is this still happening?

[2018-07-03 18:38] Baklap4 opened #387 "Test"
### Do you want to request a *feature* or report a *bug*?

Feature

### What did you expect to see?

[2018-07-03 18:39] Baklap4 commented on #387
bla

[2018-07-03 18:39] #387 closed

[2018-07-03 19:20] Baklap4 commented on #387
Test comment

[2018-07-04 17:04] Baklap4 commented on #387
Bleeb bloob

[2018-07-04 17:06] Baklap4 commented on #387
Other bleeb

[2018-07-05 07:01] Baklap4 opened #389 "Improve CI"
### Do you want to request a *feature* or report a *bug*?

Feature

### What did you expect to see?

Our current CI (semaphore) is using ubuntu trusty (14.04). This is rather old and has lots of old packages.
In my opinion a CI server should be an up to date system to build your program with the latest and greatest of each of the packages. If you want to check for compatibility an older CI server

[2018-07-05 11:45] basisbit commented on #389
Maybe using docker + travis-ci you could test building with bunch of old and new environments, and also get to enjoy nice integration in github web ui, pull request requirements and so on?

[2018-07-05 13:00] Baklap4 commented on #389
I was thinking of that yeah 👍 containers <3 Also makes CD available 👍

[2018-07-12 21:03] Lord-Kamina commented on #174
https://www.dropbox.com/s/ewuk0eak6e153it/Performous-1.1-694-g535f5ee5.exe?dl=1 here's a test build for anybody who might still be reading and interested in this. Note that this revision was built without the webserver and webcam support.

[2018-08-12 14:17] tmueller78 opened #391 "Not able to get it running on Win 7, Win 8, Win 10 or MacOS 10.13.6"
I've been trying to run Performous a incredibly high number of systems because I'd love to use it after having seen it last night. Regrettably, I don't get it to run AT ALL. I tried whatever I could find in the Troubleshooting, so I figure it's some general issue in the compiled versions.

I always run into the same issue: the song doesn't start playing after selection, even if using the free song

[2018-08-12 15:33] Lord-Kamina commented on #391
Are you trying to compile it yourself or using the 1.1 binaries?

[2018-08-12 19:12] Lord-Kamina commented on #391
While those binaries used to work, MANY... MANY things have changed since then.

This is not a stable build and it was made for my birthday last month amidst some not-small changes to the rendering code so I cannot promise how well or not it will work but do give it a try:

https://www.dropbox.com/s/9j34gstdlzuehky/Performous.dmg?dl=1

[2018-08-13 04:43] tmueller78 commented on #391
Happy belated birthday! :)

I iried it, same result. :(

I could imagine it's got something to do with me not being able to change the setting here (Mac):
![image](https://user-images.githubusercontent.com/3420501/44013139-0ab749c0-9ec4-11e8-8d9d-6bb3f4a8a732.png)

I tried fiddling around with the command line with the 1.1. binaries on MacOS but didn't really get anywhere.

[2018-08-13 04:47] Lord-Kamina commented on #391
Wait... where is that, exactly?

[2018-08-13 06:33] tmueller78 commented on #391
Ah, sorry, German Screenshot. :(

It's under configuration -> audio -> audio devices

[2018-08-13 14:36] Lord-Kamina commented on #391
@tmueller78, you're not supposed to change anything there.

The proper interface for setting up devices is in Settings -> Audio Devices, it's a separate screen that looks like this:

![0 2018-08-13 at 11 33 44](https://user-images.githubusercontent.com/6446892/44038349-f8bd4dfe-9eec-11e8-8f5b-c3630fe01df9.PNG)

Also, try going to ~/.config/performous (old location) and ~/Library/Preferences/Perfor

[2018-08-13 15:55] tmueller78 commented on #391
Wooohoo! It's working! :))))))))))))))))

[2018-08-13 15:55] #391 closed

[2018-08-13 16:11] Baklap4 commented on #391
Great to hear it's working for you 👍 If you encounter any more bugs feel free to open a new issue ;)!

[2018-08-15 14:41] Baklap4 commented on #366
Closing this due to the fact there is a pull request for this. Feedback can be given to #365

[2018-08-15 14:41] #366 closed

[2018-08-21 03:47] jst000000 opened #392 "how to make notes txt?"
how to make notes txt?

[2018-08-21 04:50] Lord-Kamina commented on #392
For singing, they're the same format as Ultrastar songs. You can find plenty of Ultrastar sites if you Google. If you want to make them from scratch, you can usually do so with a midi, and a program like yass, ultrastar itself or possibly even the performous composer, but it takes time and work and there are plenty of songs available online already

[2018-08-21 06:48] nieknooijens commented on #392
a list of tools can be found here:
https://github.com/performous/performous/wiki/Creation-tools
they usually involve splitting the lyrics into notes and then syncing them with your music. it's quite a time-consuming work so to avoid doing double work I suggest checking ultrastar-es.org and usdb.animux.de first (they both require registration).

usdb.animux.de only provides text files, you need to

[2018-08-21 07:27] nieknooijens commented on #392
for chinese songs you can go to http://usasian.forumotion.net/
you do need to introduce yourself and thank every creator personally, it's quite a closed community, but they do provide what you're looking for.

[2018-08-21 10:01] Baklap4 commented on #392
I think this can be closed then 👍

[2018-08-21 10:01] #392 closed

[2018-08-22 10:31] Nizhile commented on #174
The test build from 12 July fixed the display problem on my laptop. Thanks

[2018-08-22 15:47] Lord-Kamina commented on #174
Great to know. It will take a bit to be merged into master though because it seems somehow it broke display on Linux 🤷🏼‍♂️

[2018-08-27 17:38] Lord-Kamina opened #393 "Hide audio devices in config."
This should take 30 seconds to fix but I'm out of the house so I'll put it here before I forget (or if someone can do it)
------

In the schema, audio/devices should have the hidden attribute set to true, since it's not a list meant to be changed from the interface, and it can confuse users.

[2018-09-05 02:37] jst000000 opened #394 "audio bitwidth question, the audio data size is just for float(32bit)?"
i see the audio.cc code,it would convert the mic output data with sample.hpp,but not on the music data.
is the performous have just support music which bitwidth is 32bit  that what i confused ？

[2018-09-07 16:27] Lord-Kamina opened #395 "Modernize CMake"
Save fixing a few things here and there, I believe we have not touched our CMakeLists in ages. It would probably be in everybody's interest if at some point we were to write them from the ground up using modern CMake design patterns, as described in

https://gist.github.com/mbinna/c61dbb39bca0e4fb7d1f73b0d66a4fd1

https://www.youtube.com/watch?v=eC9-iRN2b04

and https://pabloariasal.github.io/2018

[2018-09-07 16:47] swurzinger opened #396 "libavresample is deprecated, switch to libswresample"
libavresample is deprecated in current versions of FFMPEG and not built anymore by default. It should be replaced by libswresample, providing a very similar API.
If support for older Linux versions (like Ubuntu 14, which ships with libav) is required a wrapper could be easily built that supports both libraries, but usually libavresample can be simply replaced.

[2018-09-10 17:56] #393 closed

[2018-09-14 05:09] Lord-Kamina opened #398 "Should we remove Boost predefs?"
When I initially wrote the Platform class, I embedded the minimal headers for boost predefs as a fallback  in case somebody was running Boost 1.54 or lower.

We have now dropped support for trusty, which had boost up to 1.55 (without PPAs) and I don't know any other potential system that would ship such an old version of boost.

So, I'm tempted to remove these files now. Opinions?

[2018-09-14 06:46] nieknooijens commented on #398
trusty is 14.04 right? it has support up to next april.
If it still compiles on 14.04 I'd say, wait until april when support is fully dropped then get rid of it.
If current master already breaks 14.04 compability, I'd say, get rid of those files ASAP.

[2018-09-14 06:46] nieknooijens commented on #394
As far as I know everything is resampled to Signed-16-bit audio.

[2018-09-14 12:29] Lord-Kamina commented on #398
It doesn't compile any longer, that is why we changed the semaphore and why I said we no longer suppprt it.

[2018-09-17 22:16] Baklap4 commented on #298
Can we recause this in current master? (since it's pretty old already :x)

[2018-09-18 19:16] Lord-Kamina commented on #298
I haven't seen it again but honestly I don't even know what was the cause initially so...

[2018-09-19 06:36] Baklap4 commented on #298
Then i'll be closing this. If we bump on this again we should recreate/open and write some steps down to reproduce.

[2018-09-19 06:36] #298 closed

[2018-09-19 06:39] nieknooijens commented on #394
`void FFmpeg::processAudio(AVFrame* frame) {
	// resample to output
	int16_t *output;
	int out_linesize;
	int out_samples = avresample_available(m_resampleContext) +
		av_rescale_rnd(avresample_get_delay(m_resampleContext) +
		frame->nb_samples, frame->sample_rate, m_rate, AV_ROUND_UP);
	av_samples_alloc((uint8_t**)&output, &out_linesize, AUDIO_CHANNELS, out_samples,
		AV_SAMPLE_FMT_S16, 0);
	out_

[2018-09-19 08:28] jst000000 commented on #394
that make me confused,is performous use portaudio to record mics data and use ffmpeg to decode music data?

[2018-09-19 08:36] jst000000 commented on #394
and yes,if use ffmpeg process audio we get the S16 data, but why we need to use float type to access S16data?
`	bool operator()(float* begin, float* end, std::int64_t pos, float volume = 1.0f) {
		std::unique_lock<mutex> l(m_mutex);
		size_t idx = pos + m_data.size() - m_pos;
		size_t samples = end - begin;
		for (size_t s = 0; s < samples; ++s, ++idx) {
			if (idx < m_data.size()) begin[s] += vol

[2018-09-19 08:38] jst000000 commented on #394
and yes,if use ffmpeg process audio we get the S16 data, but why we need to use float type to access S16data?

`	bool operator()(float* begin, float* end, std::int64_t pos, float volume = 1.0f) {
		std::unique_lock<mutex> l(m_mutex);
		size_t idx = pos + m_data.size() - m_pos;
		size_t samples = end - begin;
		for (size_t s = 0; s < samples; ++s, ++idx) {
			if (idx < m_data.size()) begin[s] += vo

[2018-09-19 08:39] jst000000 commented on #394
and yes,if use ffmpeg process audio we get the S16 data, but why we need to use float type to access S16data?

[code]

[2018-09-19 09:26] nieknooijens commented on #394
probably the ffmpeg data gets forwarded to portaudio somehow converting it to float again.
it's a mess....

[2018-09-19 10:09] jst000000 commented on #394
i think so....

[2018-10-04 19:45] dos1 commented on #396
There's already a patch for that in Arch Linux: https://git.archlinux.org/svntogit/community.git/tree/trunk/performous-libswresample.patch?h=packages/performous&id=bbef3c0770c2952cd0041592edaf87d6d3a31041

[2018-10-05 06:38] nieknooijens commented on #396
wtf? and they forgot to tell us? :disappointed:

[2018-10-07 02:21] dos1 opened #401 "Segfault when running on i965"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

Launch a game.

### What did you expect to see?

A game.

### What did you see instead?

A segfault.

### What version of Performous are you using?

Current master, with libswresample patch applied to make it build under Arch.
1.1 (stable) works fine.

### What is your environment & configuration (arguments, plat

[2018-10-08 17:46] dos1 commented on #401
@Lord-Kamina It's tainted with some webserver and song cache stuff that doesn't compile :(

[2018-10-08 17:53] Lord-Kamina commented on #401
There shouldn't be any difference in web server code between gl_fixes and master. The history might have some weird things but end result should be the same. It should be using cpprest

[2018-10-08 17:56] dos1 commented on #401
I've got linking errors with some JSON stuff around the cache with webserver disabled, while the master branch compiled correctly, but let me recheck.

[2018-10-08 18:14] dos1 commented on #401
OK, seems I messed something up when trying the webserver build earlier. Yes, the `gl_fixes` branch works fine :)

[2018-10-08 18:32] dos1 opened #402 "Segfault when song changes if playlist timeout is 0 and the playlist is empty"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

Wanted to skip a song or waited till the song has ended for the next one to start. The playlist was empty at this point and the playlist timeout was set to 0.

### What did you expect to see?

A random song when the autoplay is enabled, or the song chooser when it's disabled.

### What did you see instead?

A seg

[2018-10-08 18:35] Baklap4 commented on #402
I thought this was fixed already lawl :joy: Thanks for testing!

[2018-10-08 18:39] Baklap4 commented on #402
#153 listed as reference

[2018-10-08 18:39] dos1 commented on #402
Thanks for that, I'll try to check if it's not specific to the `gl_fixes` branch - as I said, I'm not able to run from `master` :)

[2018-10-08 18:40] dos1 commented on #402
Ah, it's a pretty old issue. Shouldn't matter then :D

[2018-10-08 18:40] Baklap4 commented on #402
This issue was from before the `gl_fixes` branch :)

[2018-10-08 18:49] dos1 commented on #402
I have set a breakpoint on `activateScreen` and checked where it gets called when segfaulting via skipping a song.

[code]

[2018-10-08 19:31] Lord-Kamina commented on #402
I'll take a look tonight if I get the chance.

[2018-10-08 22:01] Baklap4 commented on #402
i fixed it. It was a bug in returning the song in the draw function.. which was null resulting in a segfault. Will push in a few

[2018-10-08 22:13] Baklap4 commented on #402
Fix commited per #404

[2018-10-08 22:23] Baklap4 commented on #374
What is the status on this? Are we (@performous/contributors) going to implement this yes or no?
If Yes please reopen this issue again.

Currently closed due to inactiveness.

[2018-10-08 22:23] #374 closed

[2018-10-09 11:47] #402 closed

[2018-10-09 19:19] Baklap4 commented on #386
Fix comitted as per #405

[2018-10-09 19:33] Baklap4 opened #406 "Caching the current playlist"
### Do you want to request a *feature* or report a *bug*?

Feature

### What did you expect to see?
I'd love to see the songlist caching behavior be extended to cache the current playlist.

I'd love this since sometimes a crash appears and there was a playlist of 2+ hours. With cache i'd be able to restore this playlist within seconds. Without it i'll have to readd everything manually taking lots

[2018-10-09 19:51] Lord-Kamina commented on #406
I'd say 1, make 2 optional (and make 3 behave accordingly) and 4.

[2018-10-09 19:55] Baklap4 commented on #406
There's is no use for the playlist file if the program gracefully exited as it means the player wanted to quit the game therefor keeping track of the current playlist is practically useless and even annoying imo..

This will restart performous with a playlist already then.. (if choosen not to be deleted)

[2018-10-11 01:14] Lord-Kamina opened #407 "Fullscreen mechanism."
So... I'm fixing the resizing issue with my gl branch and I just realized something.

In `setFullScreen`, we're using `SDL_SetWindowFullscreen(screen, (m_fullscreen ? SDL_WINDOW_FULLSCREEN_DESKTOP : 0 ));`

According to the SDL Wiki:

So... is this really our desired behavior? Should it remain as is, or should we switch to SDL_WINDOW_FULLSCREEN ?

[2018-10-11 07:05] yoda-jm commented on #407
SDL_WINDOW_FULLSCREEN is a PITA, at least in the past it changed resolution and really broke everything else. I would prefer keeping the SDL_WINDOW_FULLSCREEN_DESKTOP behavior.

[2018-10-11 15:03] Lord-Kamina commented on #407
I just tested it now and, while it appears to be using a pretty arbitrary full-screen resolution (1600x900), that can probably be fixed and it appears to be working well otherwise.

I'm just asking because many things that were true for SDL1.2 aren't necessarily so for SDL2 (like the fact SDL 1.2 couldn't set fullscreen without destroying the OpenGL context)

[2018-10-11 17:41] #396 closed

[2018-10-11 17:50] Baklap4 commented on #407
If `SDL_WINDOW_FULLSCREEN` is not causing problems i'd suggest to use that. However i think we're using  `SDL_WINDOW_FULLSCREEN_DESKTOP` as for when a fullscreen app crashes or hits an exception it could freeze your screen making it hard to tab out of it. That's why many programs use fullscreen as borderless fullsized application (the latter). Another thing for the user is multi window setup which

[2018-10-11 18:10] nieknooijens commented on #407
sdl fullscreen broke a lot of shit back in the SDL1 days, when I ported it over to sdl2 SDL_WINDOW_FULLSCREEN_DESKTOP was a relief! it basically creates a borderless window with the exact same resolution as your current desktop. in fact, portal2 team fortress and other valve games use this mecdhanism as well!

[2018-10-11 19:47] Lord-Kamina commented on #407
Fair enough.

[2018-10-11 22:07] Baklap4 commented on #407
Also for reference: https://gamedev.stackexchange.com/questions/136367/what-is-the-point-of-a-borderless-fullscreen-window

[2018-10-12 07:05] nieknooijens commented on #407
in SDL1 SDL_WINDOW_FULLSCREEN also broke multi-monitor displays, showing half of performous on monitor 1 and half on monitor 2. the SDL2 port with SDL_WINDOW_FULLSCREEN_DESKTOP actually fixed performous' oldest bug (the multi monitor issue)

[2018-10-15 18:02] Baklap4 commented on #39
Used @Tronic 's list of items to check of the items we have done already to get a more detailed status into this cleanup session:

- [ ] boost/algorithm/string.hpp: No stdlib equivalents
- [ ] boost/bind.hpp: std::bind in functional
- [ ] boost/circular_buffer.hpp: No stdlib equivalent
- [ ] boost/cstdint.hpp: Now in stdlib (cstdint)
- [ ] boost/date_time.hpp: Partial support from stdlib (chrono)

[2018-10-15 18:06] Lord-Kamina commented on #39
I replaced some boost::function calls with the std version in my GL branch. Also, ptr_container is not really needed anymore because now stl containers can contain smart pointers (at least one instance of which I also fixed in the GL branch, see ShaderMap)

[2018-10-15 18:06] Baklap4 commented on #39
@Lord-Kamina please cross off what you think is already fixed i'm currently checking master upon these

[2018-10-15 18:07] Lord-Kamina commented on #39
Also, correct me if I'm wrong but we're actually targetting c++14 now. No?

[2018-10-15 21:06] Lord-Kamina commented on #39
BTW. Here's the specific relevant commit you can use as a base if you want to tackle the remaining ptr_map and ptr_vectors. If not I'll do them tomorrow.

https://github.com/performous/performous/commit/c234b7934d67b4e01ca35ea7e0a2ac17310cb863

[2018-10-15 21:07] Baklap4 commented on #39
Thanks it's not all ptr_maps and vectors though. I'm atm busy with tackling the cachemap. I fixed all the ptr_vectors already

[2018-10-15 22:08] Baklap4 commented on #39
@Lord-Kamina some weird stuff happens if i cherry-pick that specific commit within audio.cc hmmm

[2018-10-15 22:15] Lord-Kamina commented on #39
Yeah; don't. I just linked it to show an example of how I solved it. Have you had time to finish checking that PR?

[2018-10-17 06:38] Baklap4 commented on #407
Closing this question since many answers have been given

[2018-10-17 06:38] #407 closed

[2018-10-17 07:06] Baklap4 opened #409 "Should we enable verified commits?"
### Do you want to request a *feature* or report a *bug*?

Feature

### What did you expect to see?

Lately i'm seeing more and more so called `verified commits` it's an option in the Github settings which allows commits to be signed. Basicly it means someone can't impose as someone else thay easy anymore. For more info check this blog out http://blog.brew.com.hk/verified-commits-github/

For now

[2018-10-17 16:07] Lord-Kamina commented on #409
I don't see why not.

[2018-10-17 16:47] #174 closed

[2018-10-17 17:50] Baklap4 commented on #401
Closing this issue since the `Issue/gl_fixes` branch is merged into master.

[2018-10-17 17:50] #401 closed

[2018-10-17 20:47] #386 closed

[2018-10-17 22:59] Lord-Kamina opened #411 "Text rendering: some relatively serious issues."
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

Sometime ago, people on Discord brought to our attention the fact they wanted to have highlighted lyrics change outline color instead of just fill color. This is a very reasonable request. This doesn't work and at the time I dismissed it as a relatively minor oversight but in trying to tackle the issue now I see

[2018-10-18 06:49] nieknooijens commented on #411
text rendering code is indeed pretty messy, I once tried to add some asian style scrolling effect but I only got as far as filling an entire letter at a time in stead of gradually filling it like this:
https://youtu.be/mNjif02658w?t=333

[2018-10-18 12:43] Lord-Kamina commented on #411
Basically what I'm saying is, we need to figure out a better way to compose/render text.

[2018-10-18 18:18] Lord-Kamina commented on #411
This looks... Interesting? https://github.com/rougier/freetype-gl/blob/master/README.md

[2018-10-18 19:21] nieknooijens commented on #411
it does...

lol the japanese text on their example reads: "I can eat glass but I can't find it".

[2018-10-19 05:55] Lord-Kamina commented on #411
*summons @basisbit*
Do you have any experience/ideas from others projects you might be able to contribute to the discussion with?

[2018-10-19 06:04] Lord-Kamina commented on #411
Also... somebody pointed me to this: https://github.com/ocornut/imgui

Using that would be a MAJOR refactor of the code but it looks impressive IMO.

[2018-10-19 11:41] basisbit commented on #411
* I was summoned *
Not entirely sure what would be the best way for performous, but for another game I am working on, I was considering this:
For every new sentence coming into view: use freetype-gl (or similar) to render each syllable to a separate texture for each desired style, then at every frame only fade in / out the currently sung syllable depending on percentage of how much of the syllable

[2018-10-19 13:19] Lord-Kamina commented on #411
Might be worth trying it. What we currently have looks like some very badly placed optimizations. Not to mention the rendering code now is much cleaner than it used to be back then.

[2018-10-23 06:50] Baklap4 opened #413 "Frontend not localized error in dev tools"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?
As mentioned at discord people (@headsetruler) were seeing that the front-end wasn't localized.

### What did you expect to see?
A localized webfrontend

### What did you see instead?
A non localized webfrontend

### If applicable, please paste the log output in DEBUG level (`--logLevel=DEBUG` switch)

[code]

[2018-10-23 21:56] Baklap4 commented on #413
Needs more info as it's working on linux / chrome browser. Question in discord has been asked to the OP

[2018-10-30 19:33] Baklap4 commented on #327
Closing this due to inactivity and bugfix branch already being merged.

[2018-10-30 19:33] #327 closed

[2018-10-30 19:34] Baklap4 commented on #398
Let's remove them as they no longer serve any purpose then

[2018-10-30 19:52] Lord-Kamina commented on #398
I've already done so in an uncommitted branch.

[2018-11-01 04:56] Lord-Kamina commented on #383
Closing since this was a platform-specific bug that was already fixed in libepoxy 1.5.3.

[2018-11-01 04:56] #383 closed

[2018-11-01 10:30] jose1711 opened #417 "Invalid sample rate when trying to use Webcam's microphone"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

- `pasuspender performous`
- in GUI select USB webcam as a microphone input
- get error: Some device failed to open
- on CLI read: `audio/error: Audio device 'dev="USB Device 0x46d:0x9a4: Audio" mics=green': Pa_OpenStream failed: Invalid sample rate`

### Output of `performous --version`: (_What version of Perfor

[2018-11-01 12:43] Lord-Kamina commented on #417
Can you try and check whether it's actually our problem and not portaudio's?

[2018-11-01 19:46] jose1711 commented on #417
according to http://portaudio.com/docs/v19-doxydocs/api_overview.html this can very well be the case:

i wonder if it's possible to workaround this by editing `asoundrc`.

[2018-11-02 07:42] nieknooijens commented on #417
libswresample provides resampling...

[2018-11-04 10:54] nieknooijens commented on #417
personally I wouldn't want to use a webcam microphone. a webcam mic is a condensor mic designed to pick up the entire room at not-so-great audio quality (it's mainly for phone calls, if you can be understood it's good enough).

I'd advice you to get a nice cheap dynamic microphone like the behringer XM8500, and a cheap USB audio interface for it (something like [this](https://nl.aliexpress.com/ite

[2018-11-04 11:10] jose1711 commented on #417
thanks for the tip. my current setup is internal hda intel (realtek alc888) soundcard + external usb axagon 7.1 soundcard (https://www.axagon.eu/en/produkty/ada-71). first microphone is of logitech webcam c525, the 2nd is philips sbc me570. nothing fancy but it works pretty reliably and there's really nothing to complain when it comes to responsiveness or detection accuracy.

having the 3rd microp

[2018-11-04 11:41] nieknooijens commented on #417
or we should use avresample for devices that can't go near 44.1kHz.
and yes theoretically you could use a webcam mic. but being able to use one doesn't mean you should.

[2018-11-04 16:37] Lord-Kamina commented on #417
![0c8d06be-d4e1-48fe-900e-a79f8c65b531](https://user-images.githubusercontent.com/6446892/47966934-585ac680-e036-11e8-81d2-582b71e2adf1.jpeg)

Something I thought I'd mention, if you want something cheap I very much recommend something like the Samsom R21S (Pretty decent Shure clones that are sold in packs of three.) you can connect them to a singstar adapter or something fancier if you like. Ther

[2018-11-04 22:17] jose1711 commented on #417
it would be great to collect all singing equipment tips and put it into wiki section. it will be far more visible than here. btw reading through the wiki i've stumbled across the following on https://github.com/performous/performous/wiki/Audio-configuration:

surely enough it's not doing anything (but showing the old error again) so i don't really if this key has any meaning at all nowadays.

[2018-11-05 07:47] nieknooijens commented on #417
so an audio equipment wiki?
sounds like a plan! I do think i should make it have 3 categories <basic> <advanced> and <over-the-top>
I'm in that last category :confounded: I have an X32 producer with SD8 stagebox and 14 microphones....

[2018-11-06 18:11] Baklap4 opened #420 "Fullscreen bug"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

1. Build performous from scratch
2. Open performous (It opened in windowed mode)
3. Maximize performous window (middle button in the menu bar near the close button)
4. Performous goes into full screen mode
5. Go to settings, change full screen mode to disabled (this results in performous windowed mode being the s

[2018-11-06 19:09] Lord-Kamina commented on #420
I cannot reproduce this.

[2018-11-06 19:19] Baklap4 commented on #420
Hmmm maybe a difference between os'ses hmm...

[2018-11-07 22:09] jose1711 commented on #417
wiki page looks very nice, i will add my notes directly to it as commens/documentation page is not supported.

back to the issue. i have decided to test my current setup with ultrastardx and after initial hurdles i've come to the point where all 3 inputs - that is *including* the problematic webcam works. interesting thing to mention is that ultrastardx also depends on portaudio so they somehow ma

[2018-11-08 07:48] nieknooijens commented on #417
i'll place the quick answers here, will integrate it in the audio guide later:

Singstar was a karaoke game for the playstation 2, it came with an USB audio interface (3,5mm mono jack to USB) and 2 microphones, performous is originally built to support this.

An USB interface basically takes any analog audio source and converts it to USB.
when plugging it into your PC it will appear as a second so

[2018-11-08 09:51] jose1711 commented on #417
thank you, finally getting a grip of it now :-) one thing that is still a bit unclear to me

a single stereo USB output still allows me to route two microphones (2x mono) into performous for analysis, right?

[2018-11-08 10:15] nieknooijens commented on #417
technically yes, practically no.
I've only had experience with the xenyx X2442USB in this regard, what it did was pretty lame:
it had a 2-track in/output (RCA) the 2-track out just mirrored the main mix, the 2tr-in could be routed to either the main mix or to your headphones, nothing else, and it had no volume knob so I used to use my laptop's headphone jack and just used a cable to connect it to

[2018-11-08 17:34] jose1711 commented on #417
i am clearly missing something. on one hand you are saying usb interface is a must for pitch detection to work, on the other you're making it clear i don't want to use it because it's mixed with music track. instead i should route direct output ports into performous. but how? do i need to use a usb port with that many line-ins? or is a usb recorder another hw device that goes between a mixer and a

[2018-11-09 07:55] nieknooijens commented on #417
whether it's mixed with the music track all depends on how you connect your mixer.
you can use a mixer with USB functionality as an audio interface (use panning) but then it's the same as a normal usb audio interface: you can't echo your voice over the speakers, which defeats the whole purpose of a mixer.
if you want to echo your voice over the speakers AND have pitch recognition you need an audio

[2018-11-09 09:56] jose1711 commented on #417
i really appreciate your patience in doing this 'for dummies' (=me) tutorial. the first thought when i saw usb next to mixer name was: okay, so i can use this to output mics to PC. turns out that this is possible but only with $500+ (UFX1604 on amazon is $599) mixers, usually you'll use it to send music track from performous to mixer. fair enough.

in your diagram - red colour. when you say "These

[2018-11-09 10:56] nieknooijens commented on #417
yeah, most soundcards only have 2 inputs, but it doesn't really matter, you can stack inputs as much as you like.
the cheapest mixer setup with pitch analysis is probably the behringer Xenyx 1002b with a single USB sound card. the 1002b has 2 aux-sends/fx-sends which can be used as "direct out" for 2 microphones.

aux sends / fx-sends (different mixers use different labels but they're practically

[2018-11-15 14:54] jose1711 opened #423 "game feedback should be localised too"
https://github.com/performous/performous/blob/fb64ebc17c08fd3d0b454cd0592e93bd6ab79f0f/game/layout_singer.cc#L72

performous already is l10n friendly so i think it should be also extended to the feedback game provides during singing/playing/dancing.

[2018-11-15 14:55] Lord-Kamina commented on #423
You're right. To be honest, I'd never noticed it _wasn't_ (I hate using translations of any kind unless I don't have a choice)

[2018-11-17 22:22] jose1711 commented on #417
based on your suggestion i went into Behringer 1002b, added 2x Numark WM200 Dj microphone. i am quite happy with this setup although a few open questions remain:
* what's the difference between master-out and 2-track output (besides the connectors)?
* on sound-card how safe is it to feed mic input with line-out and vice versa? or is this just about the level of interference?
* also is it okay to p

[2018-11-17 22:47] jose1711 commented on #420
arch linux + gnome. i don't have any maximize button on the toolbar, only close [x]. maximizing window by doubleclicking the titlebar does not make it go fullscreen (titlebar is still shown). could be caused by modifications specific to ubuntu.

[2018-11-17 22:53] Lord-Kamina commented on #420
@jose1711 I don't know about that (maybe it's configurable on SDL window creation) but you can also toggle fullscreen:

 - From Settings/Graphics
 - By pressing Alt+Enter
 - I think also by pressing Alt+F or F11

[2018-11-17 23:21] jose1711 commented on #420
ok, just tested and i am unable to reproduce this either

[2018-11-18 12:39] nieknooijens commented on #417
short answer basically nothing. long answer: 1002b is a bit of an exception in this regard, it routes the 2tr input to a full channel (9/10) normally (like on a xenyx 802) it only comes with 2 buttons, "2tr-to ctrl room" and "2tr to main" when pressing "2 tr to main" it isn't echoed over the 2tr out. but again this does not apply to the 1002b.

oh it's completely safe, you just need to make sure t

[2018-11-19 22:37] jose1711 commented on #417
aand thank you, again. yes, i am using MON send and FX-send to feed line-in and let performous do the pitch analysis as you suggested before. i do not really want anything but the microphone signal to go there.

i think the issue is coming to an end. to summarize a little bit:
* using microphones integrated into webcams for performous is a bad idea (reasons outlined in the audio guide wiki entry)

[2018-11-21 01:18] Lord-Kamina commented on #420
@nieknooijens can you reproduce this?

[2018-11-21 07:38] nieknooijens commented on #420
I didn't test it on latest master but 3 weeks ago I had this exact same issue on 18.04LTS.
my workaround was to drag performous to the side of the screen (will snap in place to fill the left half of my monitor)then resize the right edge to the screen width, performous goes fullscreen, but at least I told it to store the new windowed dimensions, then press F11 and it will go windowed at desktop siz

[2018-11-24 21:53] wiibaa opened #425 "Cannot build on Debian 9"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

As the last release is from 2016 I tried out to build master from source as it looked rather easy.
After double checking my setup and the wiki, it seems a valid bug or a missing make flag that I'm not aware of.
Can you please advice

### What did you expect to see?

Build successful

### What did you see instead?

[2018-11-24 21:54] Lord-Kamina commented on #425
We need to fix the CMakeLists probably but the minimum required ICU is 60.

[2018-11-25 01:46] Lord-Kamina commented on #425
P.S. You can probably find/make a backport? I managed to backport ICU 60 to Ubuntu 16.04 so...

[2018-11-25 20:37] wiibaa commented on #425
Followed this method https://askubuntu.com/a/790394
to install icu-63-1.4 and build worked like a charm.
Thanks for the quick reply

[2018-11-25 20:37] #425 closed

[2018-12-05 11:07] jose1711 opened #427 "GoblinOne.otf does not include some characters from Czech and Slovak"
supplied `GoblinOne.otf` font does not cover a range of characters used in Czech an Slovak. in effect the graphical output is not satisfactory:
![obrazok](https://user-images.githubusercontent.com/1406222/49509553-f9cb7700-f885-11e8-8b3f-2eee8b22c636.png)
note how characters such as ŕ, ľ, ď, č, ň, ž or ť are rendered
this is the source lyrics:
[code]

[2018-12-05 12:10] jose1711 opened #428 "ď (d caron) not displayed correctly at the end of the line"
for some reason "ď" character is rendered as "d" (without the caron) when it's the last character on the line. consider this lyrics:
[code]
it renders as
![obrazok](https://user-images.githubusercontent.com/1406222/49512724-2041e000-f88f-11e8-99b2-8edb9188989a.png)

[2018-12-05 12:13] Baklap4 commented on #428
possible duplicate of https://github.com/performous/performous/issues/427

[2018-12-05 12:21] nieknooijens commented on #427
well, at leats it's falling back to a font that does support it.
I suggest we make the font part of the theme, this way you can supply your own font for your own language.

[2018-12-05 18:46] jose1711 commented on #428
definitely not a duplicate of #427 as the outcome depends on the position of a letter on a line

[2018-12-05 18:53] jose1711 commented on #427
i am not a friend of such proposal. consistency is a good thing and mixing content and look is generally discouraged anyway. i'd like to see a universal font covering extended latin instead. maybe someone has a tip for similarly looking font with better glyph coverage.

[2018-12-05 23:52] Lord-Kamina commented on #427
TBH I'm not a fan of GoblinOne so I agree with @nieknooijens.

On the other hand, if you can find a better font that looks good... 🤷🏼‍♂️

[2018-12-06 07:40] nieknooijens commented on #427
the problem here is that there isn't a single font that covers everything. unifont comes pretty close but still lacks heroglyphs and some emoji. plus unifont looks like shit. We can probably use a font that covers extended latin and cyrillic alphabets, but then we still need to fall back to other fonts like Takao minochi for Japanese, korean and chinese. see this isn't really solvable!

[2018-12-06 08:57] jose1711 commented on #427
sure, one decent looking font covering everything (though i cannot really imagine someone singing rules or hieroglyphs) is a missing impossible. but then i believe it would make a huge difference already if the character fallback mechanism occur as little as possible. i wonder how frequently latin alphabet mixes with japanese characters in song lyrics for instance. my bet is that it either do not

[2018-12-06 09:55] nieknooijens commented on #427
oh believe me it happens more than you think. like 80% of Japanese songs dump some English words in there because it's "cool" (it isn't -_- ). and even though it are completely different families it's still weird that the stroke width varies between them. but TBH, I've learned to live with it.

[2018-12-09 00:14] jose1711 commented on #428
after changing font-size to 42px in `sing_lyricscurrent.svg` a few pixels of caron starts to appear. it looks as if the computation of character width is not working correctly. for now the easiest workaround is editing both `sing_lyricscurrent.svg` and `sing_lyricsnext.svg` replacing `Goblin` family with something more common (Arial for instance). a separate theme might be kind of an overkill for

[2018-12-09 08:36] nieknooijens commented on #428
if we're going to use Arial please use the freetype equivalent. original Arial has microsoft licensing issues.

[2018-12-09 14:30] Lord-Kamina commented on #428
It might be a bug introduced in my last PR and if not, it might be an unnoticed issue from before. A couple years ago, performous text would just overflow off-screen. One of my first commits actually dealt with fixing that, but maybe they've still got issues.

[2018-12-09 14:33] Lord-Kamina commented on #428
Also... What language is this again? Slovak?
Is it acceptable in such for a word to end in d‘?

[2018-12-09 17:04] jose1711 commented on #428
it's slovak and/or czech. words ending in ď are relatively common in both languages.
[code]

[2018-12-09 17:06] Lord-Kamina commented on #428
Ok. Just wanted to make sure it wasn't in some way related to ICU

[2018-12-10 10:52] jose1711 opened #429 "error compiling (CV_CAP_PROP_FRAME_WIDTH)"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

Compile latest git on Arch Linux
[code]

[2018-12-10 11:12] nieknooijens commented on #429
hi there

have you tried compiling without webcam support? (use cmake-gui to disable it)

[2018-12-10 12:20] jose1711 commented on #429
`-DENABLE_WEBCAM=OFF` passed to `cmake` solved the problem. `opencv` is at version 4.0.0.

[2018-12-10 12:53] Baklap4 commented on #429
Seems we have to do some testing with opencv 4.0.0 then within ubuntu we use 3.2.0 if i'm right

[2018-12-10 13:11] nieknooijens commented on #429
reason I asked if the build works without webcam is to make sure the problem is in that module.
sometimes other errors can trigger weird warnings, for example, missing a semicolon after a class definition will spawn a million errors completely unrelated to the problem.

[2018-12-15 23:37] jose1711 opened #430 "extend Audio equipment guide wiki page"
### Do you want to request a *feature* or report a *bug*?

Feature

### What did you expect to see?

[Audio equipment guide](https://github.com/performous/performous/wiki/Audio-equipment-guide) is a great source of useful information already but what it fails to mention completely is the viability of using
* Bluetooth speakers/microphones
  According to my tests (w/ a low-end bluetooth 3.0 speaker

[2018-12-18 08:13] nieknooijens commented on #430
wireless mics can indeed be placed under the audio equipment guide. general rule is: use professional or "prosumer" grade stuff. I have an STWM712 wireless mic set which works fine... as long as you are the only one using it, since you can't change the frequency. also some older 800MHz models are going to get busted because of 5G cellular networks.
Other than frequency issues, anything VHF or UHF

[2018-12-19 10:07] jose1711 opened #431 "unable to connect to jackd running with period of 128"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

Recently I switched to linux-rt-bfq to be able to tune latency to minimum.
[code]
Then I changed frames/periods in JACK configuration from 256/3 to 128/3 and restarted JACK. After this `performous` is unable to play audio via JACK and does not even list it in device menu.
Console log:
[code]
Things go back to nor

[2018-12-21 22:45] jose1711 opened #432 "type filter not working in git version"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

In-game filter for type (has vocals, has dance, etc) is not working in current version - no songs are displayed when a specific filter is activated. Installing performous 1.1 restores the fuctionality.

### Output of `performous --version`:

[code]

### What is your environment & configuration (arguments, platfor

[2018-12-22 23:02] jose1711 opened #433 "Default configuration does not make use of cache"
### Do you want to request a *feature* or report a *bug*?

Feature

### What did you do?

* deleted performous config file at `~/.config/performous/config.xml` to simulate new install
* started performous
* observed on command line how songs found at one of the predefined locations (`~/.ultrastar/songs`) are scanned and added to database (json file is created)
* waited until the scan is over, then

[2018-12-23 00:02] jose1711 opened #435 "LANG envvar should be used to determine language, not LC_CTYPE"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

Tried to run performous in my non-default locale (`sk_SK.utf8`).

### What did you expect to see?

Common way to switch program language on Linux is by setting `LANG` environment variable, e. g. `LANG=fr_FR.utf8 mc` starts Midnight commander in French. For some reason performous reads `LC_CTYPE` instead, so while

[2018-12-23 01:58] Baklap4 commented on #433
Did you move into the songbrowser window before closing performous?
Also is there a file named: `Songs-Metadata.json` (With contents) within the `$HOME/.cache/performous/` folder?

[2018-12-23 11:06] jose1711 commented on #433
mere visit of songbrowser window does not fix this (does not add `path/songs` list into `config.xml`). pressing ctrl-s not helping either hence one needs to add the path manually.

[2018-12-23 21:00] Baklap4 commented on #433
Alright thanks i think i'll pick this up someday short :) !

[2018-12-23 21:36] Baklap4 commented on #389
We have recently merged the semaphore2 patch however we can still improve the ci:

I'd say the steps will be:

- [ ] Fetch dependencies (parallel for each system (linux, unix, win32 (cross/native)))
- [ ] Build (parallel for each system (linux, unix, win32 (cross/native)))
    - And parallel for gcc and clang (meaning this will be 6 jobs parallel)
- [ ] Deploy all versions (the previous 6) as rele

[2018-12-23 21:43] Lord-Kamina commented on #435
I'm not sure how but I reckon Arch Linux might be factoring into this.

In both windows and mac, language works as expected (nor sure in other Linux distros). I can also say that the mac launcher affects the language before running performous by exporting LANG and not LC_CTYPE.

Finally, if anything I'd say this issue might be on Boost more than on us: https://www.boost.org/doc/libs/1_65_0/libs/lo

[2018-12-23 22:30] jose1711 opened #436 "Do not rely on extension when reading images"
### Do you want to request a *feature* or report a *bug*?

Feature

### What did you expect to see?

It would be nice if performous does not rely on filename extension when reading image. Currently if it finds a JPG file named `album.jpg` it tries to read is as PNG and (presumably) gives an error:
[code]

[2018-12-23 22:37] jose1711 commented on #435
interesting, just found out that performous 1.1 does respect `LANG` variable, it's only -git version that is showing the described symptoms

[2018-12-23 22:51] jose1711 opened #437 "iostream error while reading song.ini"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

Trying to open a full band file yields the following error message on console and skips playback:
[code]
A "Song contains broken tracks" is shown briefly. Performous 1.1 is able to proces the file just fine. This is the contents of the directory with song data:
[code]

### Output of `performous --version`:

[code

[2018-12-23 23:00] Lord-Kamina commented on #435
@jose1711 Performous 1.1 used gettext, not boost locale.

[2018-12-23 23:06] Lord-Kamina commented on #435
Also, where did you get that LANG is the standard? Most resources I've found online say that LANG is used as fallback when LC_something is not set.

[2018-12-23 23:11] Baklap4 commented on #435
Running `LANG=ja_JA.UTF-8 performous` makes performous globally installed use the japanese language.. hmm? Running ubuntu 1710 here latest master

[2018-12-24 11:04] jose1711 commented on #435
not sure what is going on. i rebuilt performous 1.1 manually to see if there's maybe a flaw in my build toolchain but i can only confirm the behaviour i've seen earlier: `LANG` works for 1.1 but does not work on current master. i am reaching out to other arch linux users to validate (https://aur.archlinux.org/packages/performous-git/)

[2018-12-24 13:40] Lord-Kamina commented on #435
Did you read what I posted above? All documentation I have seen say LANG is actually just a fallback, not the de-facto standard you claim. And boost locale (which is what performous uses) only uses LANG if LC_CTYPE and LC_ALL are unset.

What is the output of `locale` in your terminal?

Also, try `man locale` and see whether it says something different from what I posted.

[2018-12-24 14:33] Baklap4 commented on #435
Hmm instead of using `LANG=fr_FR.utf8 performous`
Can you type `export LANG=fr_FR.UTF-8 && performous` this should fill your LANG variable as `fr_FR`. Also what's the output of `locale`

[2018-12-24 14:43] jose1711 commented on #435
I  did read your comment but did not want to rush it as investigation was ongoing. Nice summary of how locale-relevant are used is at https://www.gnu.org/software/gettext/manual/html_node/Locale-Environment-Variables.html:
[code]
So probably setting `LANG` was not that far off - notice how it worked for mc (but also for gedit, josm, nautilus, patchage which I've just tested).

What I found later o

[2018-12-24 14:46] Lord-Kamina commented on #435
Performous 1.1 uses a different internationalization engine; and Boost (what we use now) gives priority to LC_CTYPE. I don't know why but it's just how it is.

[2018-12-24 14:49] Baklap4 commented on #435
As quoted from [boost docs](https://www.boost.org/doc/libs/1_69_0/libs/locale/doc/html/locale_gen.html):

[2018-12-24 15:08] Lord-Kamina commented on #435
I do think I've found a possible way to fix this to everyone's satisfaction, though.
I've always been assuming the default locale is what we should be using and boost constructs that based on what we've been saying here. But it also seems it's possible to use `boost::locale::util::get_system_locale()` instead.

From a small change I did just now to test I got the following output:

(LANG=es_CL-UTF

[2018-12-24 15:19] Lord-Kamina commented on #435
@Baklap4 This should fix it but I can't currently commit because my working copy is a mess and I'm on an unpublished branch and frankly I don't want to deal with stashing now. 🤣

Could you commit/PR from the attached patch?

[0001-Locale-fix.patch.txt](https://github.com/performous/performous/files/2707492/0001-Locale-fix.patch.txt)

[2018-12-24 15:34] jose1711 opened #439 "Mp3 file shorter than 30 seconds causes song to be skipped in preview"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

Browsing songs I discovered that a specific song is skipped - this seems to be caused by a non-standard (invalid?) mp3 file. The song however plays normally. I will share the problematic mp3 file privately when asked.

### Output of `performous --version`: (_What version of Performous are you using?_)

[code]

##

[2018-12-24 15:46] Baklap4 commented on #435
@Lord-Kamina your patch is doing the exact thing as what `""` does...

https://www.boost.org/doc/libs/1_54_0/libs/locale/doc/html/locale_gen.html
[code]

[2018-12-24 15:53] Lord-Kamina commented on #435
It's not. That's the thing. The "system default" is not the same as "the current system locale", in fact I just tried it and for example it gets rid of the necessity to specify LANG in the macOS launcher.

To clarify, the output I pasted above was from calls to `gen("").name()` (default locale) and get_system_locale (system locale). As you can see above, they yield (or may yield in some platforms)

[2018-12-24 16:01] Lord-Kamina commented on #439
Are you certain this is not an caused by an invalid preview start on the song's txt file?

[2018-12-24 16:07] jose1711 commented on #439
i replaced an mp3 file in the folder with another one and the problem vanished

[2018-12-24 16:09] Lord-Kamina commented on #439
That is beside the point. Can you post the song's txt file?

[2018-12-24 16:11] Lord-Kamina commented on #437
Could this be an issue relating to performous trying to parse the song as both a midi and an ini at the same time?

[2018-12-24 16:13] jose1711 commented on #439
[Two and a Half Men - Intro Theme.txt](https://github.com/performous/performous/files/2707570/Two.and.a.Half.Men.-.Intro.Theme.txt)

[2018-12-24 16:20] Baklap4 commented on #435
Ahh thanks for the clarification! opened #440 can @jose1711  check if this works?

[2018-12-24 16:32] jose1711 commented on #437
What can I do to find out?

[2018-12-24 16:45] Lord-Kamina commented on #437
Does the ini actually reference the midi? Maybe delete/rename the midi?

[2018-12-24 16:52] Lord-Kamina commented on #439
So it appears you're right and it's a problem with the mp3... not sure if we can do much about that though.

[2018-12-24 19:44] jose1711 commented on #437
Strange, I cannot reproduce the issue anymore. Maybe it got fixed after I removed the cache (?). Closing as invalid.

[2018-12-24 20:05] Lord-Kamina commented on #439
It's a possibility but I'm not entirely sure. If you just leave it there, doesn't it start playing eventually?

[2018-12-24 20:50] Lord-Kamina commented on #439
That makes all the sense in the world then.

[2018-12-25 10:54] jose1711 commented on #435
I disabled oh-my-zsh entirely to not skew the results (now `LC_CTYPE` is unset and so is the rest of the `LC_` variables) - still the outcome is the same (as in https://github.com/performous/performous/issues/435#issuecomment-449741888). Anyway at least `LANG=.. performous` (the 1st test) is working now - I did not have an urge to try anything else until now. Thank you for having a look, closing.

[2018-12-25 10:54] #435 closed

[2018-12-25 16:00] Lord-Kamina commented on #435
But THAT IS the expected behavior. I don't know why Boost prefers LC_CTYPE to LC_ALL but that pretty much everywhere is categorical in saying LANG is a fallback.

[2018-12-26 15:34] Lord-Kamina commented on #432
I can confirm this but I'm not quite sure where it went wrong.
I'm fairly sure we tested the new version a lot, didn't we @Baklap4 ?

[2018-12-26 16:06] Lord-Kamina commented on #432
Ok I found the issue. I've solved about half of it but there's a specific scenario that's still broken (blame is on my duet fixes a while ago), am still figuring out how to handle it.

[2018-12-27 14:48] Lord-Kamina commented on #432
@jose1711 can you please confirm whether my latest changes fixed this? (You'll need to delete the song caché)

[2018-12-27 14:55] jose1711 commented on #432
@Lord-Kamina if you're ready to wait til Sunday then yes (not at my home PC currently)

[2018-12-27 15:55] Lord-Kamina commented on #432
~~NO IT HAS TO BE TODAY~~ it was already merged, so at worst it'll need some extra work.

[2018-12-30 20:37] jose1711 commented on #432
thank you, confirming the fix works for me

[2018-12-30 20:37] #432 closed

[2018-12-30 22:49] jose1711 opened #442 "Implement a way to test if selected keys makes sense for Guitar mode"
### Do you want to request a *feature* or report a *bug*?

Feature

### Trivia ###

Some keyboards suck less, some not. If you're stuck with a standard keyboard instead of a GH controller you should be aware that some key combination does not play well together. On my notebook keyboard it's z + x + Enter (I changed F1 - F5 to z, x, c, v, b). Too bad I learned about it throughout the game play. It

[2018-12-31 14:19] jose1711 opened #443 "Hide "wait for grading" if there is nothing to grade"
### Do you want to request a *feature* or report a *bug*?

Feature

### What did you expect to see?

It's really cosmetics but why should the message "Wait for grading" appear in cases when a user did not even connected the microphone (no score has been recorded)?

[2018-12-31 18:00] Lord-Kamina commented on #443
Well I guess it would be pretty trivial to fix.

[2018-12-31 23:29] jose1711 opened #444 "An invalid (?) mp3 file can cause memory leak in preview"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

I've stumbled upon an mp3 file that causes performous (preview/selection mode) to start eating gigabytes of memory heavily bogging system. Ffplay gives plenty of warnings and skips through the song within a few seconds, mplayer and vlc play it without issues. The actual problem probably lies with ffmpeg but I thi

[2019-01-02 15:33] nieknooijens commented on #442
standard key rollover problem. AFAIK the default keymapping (F1-F5 + enter/shift) should be functional even on bad keyboards.

[2019-01-02 15:46] jose1711 commented on #442
or maybe give user a warning when changing to non-Fx keys

[2019-01-03 11:58] Baklap4 commented on #444
Hmmm so that's what causing it.. i encountered this aswell i think last weekend i went to a party, and performous was hogging my memory badly at 60-70%.. way too much

[2019-01-03 12:52] nieknooijens commented on #439
since the PR is merged isn't this closed then?

[2019-01-03 13:01] #439 closed

[2019-01-04 23:05] Baklap4 commented on #398
@Lord-Kamina A while ago you said you already did so, can you push the branch so we can close this item?

[2019-01-04 23:06] Lord-Kamina commented on #398
Close it if you want. I haven't pushed because that branch is still heavily WIP

[2019-01-04 23:06] Baklap4 commented on #335
Closing this due to inactivity and the master branch has been quite reworked.

[2019-01-04 23:06] #335 closed

[2019-01-04 23:07] #398 closed

[2019-01-05 01:32] Baklap4 commented on #423
so this is fixed by replacing all hard coded values if i'm correct?
@jose1711 can you manage to get a list of strings to be localised and where they are at in the latest master?

[2019-01-05 19:34] jose1711 commented on #423
@Baklap4 I think it all affects just two files:
[code]

[2019-01-07 09:44] #420 closed

[2019-01-07 18:13] Baklap4 commented on #246
Does anyone have an idea how to switch languages during runtime? That's the only thing bothering me right now.. please see https://github.com/performous/performous/tree/feature/ChangeLocale for my current wip

[2019-01-07 18:17] Baklap4 commented on #444
@jose1711 can you upload this mp3 file here on github so we can try this out ourselves?

[2019-01-07 18:31] jose1711 commented on #444
@Baklap4 I can share it privately

[2019-01-07 18:36] Baklap4 commented on #444
Alright hit me up at discord :)

[2019-01-07 22:38] Baklap4 commented on #444
When playing the file i'm getting a `FfmpegError: code=-1094995529, error=Invalid data found when processing input` from ffmpeg..

[2019-01-08 07:46] nieknooijens commented on #246
isn't there somewhere during startup where performous grabs the system locale? we could possibly just change that value.

[2019-01-08 07:48] #443 closed

[2019-01-08 07:48] Baklap4 commented on #246
well that's the funny thing.. There is: `TranslationEngine` which uses `boost::locale`
However if i let it generate the locale for [Dutch](https://github.com/performous/performous/blob/feature/ChangeLocale/game/i18n.hh#L59) it just won't show me in dutch :/

[2019-01-08 07:50] nieknooijens commented on #246
worst case scenario we've hit a "feature" in boost::locale

[2019-01-08 07:56] Baklap4 commented on #433
This has been tested and approved by @jose1711

It now uses the default songfolders and cache check if song already existed in cache is now working correctly.

[2019-01-08 18:44] Baklap4 opened #452 "Feature: Drop cpprestsdk, use restinio + nlohmann-json"
### Do you want to request a *feature* or report a *bug*?

Feature

### What did you expect to see?
Currently we aren't able to crosscompile for windows :( due to cpprestsdk not being portable through mxe: https://github.com/Microsoft/cpprestsdk/issues/798 since they ignore us there was a thinking about dropping it and replace it with [Restinio](https://github.com/Stiffstream/restinio) as networki

[2019-01-08 18:46] Lord-Kamina commented on #452
Once I finish the BPM/cover flashing thing I'll continue working on this.

[2019-01-08 18:51] Baklap4 commented on #452
restinio looks pretty simple and already pretty equal to the current code.. i don't think we need to change that much

[2019-01-09 08:00] nieknooijens commented on #452
why  Nlohmann-json ? json-cpp worked fine!

[2019-01-09 08:49] #429 closed

[2019-01-09 09:20] Lord-Kamina commented on #452
Nlohmann has a modern interface, no extra dependencies, is more comformant to standard, uses significantly less memory and is significantly faster than json-cpp.

[2019-01-09 18:40] diver66 opened #453 "CMake error installing Performous on Lubuntu 17.10"
Just tried to install Performous on Oracle VM Virtual Box -> Lubuntu 17.10 (64bit). When running the cmake .. command I am getting the following error message

CMake Error at cmake/Modules/FindPackageHandleStandardArgs.cmake:137 (message):
  Could NOT find GLM (missing: GLM_INCLUDE_DIR)
Call Stack (most recent call first):
  cmake/Modules/FindPackageHandleStandardArgs.cmake:377 (_FPHSA_FAILURE_MES

[2019-01-09 21:59] diver66 commented on #453
Thanks @lord-kamina , now it stops running with this error message

CMake Error at CMakeLists.txt:75 (add_subdirectory):
  The source directory

    /home/diver66/performous/ced

  does not contain a CMakeLists.txt file.

google does not give me any information on ced

[2019-01-09 22:05] Lord-Kamina commented on #453
It's a submodule. Google how to initialize and check-out submodules.

[2019-01-09 22:06] diver66 commented on #453
thanks for the hint, it works now I had to do

git clone --recursive git://github.com/performous/performous

[2019-01-09 22:30] diver66 commented on #453
I really wanted this to work :-), just run into another problem, "cmake .." ran without problems and finished, but "make" throws an error

game/CMakeFiles/performous.dir/build.make:1502: recipe for target 'game/CMakeFiles/performous.dir/unicode.cc.o' failed
make[2]: *** [game/CMakeFiles/performous.dir/unicode.cc.o] Error 1
make[2]: *** Waiting for unfinished jobs....
CMakeFiles/Makefile2:158: reci

[2019-01-10 03:44] Lord-Kamina commented on #453
You need ICU > 60. Either find a backport or install a newer OS.

[2019-01-10 07:39] Baklap4 commented on #453
@Lord-Kamina we really need to add the versions of which we minimal need to cmake

[2019-01-10 07:59] diver66 commented on #453
a newer OS ? I am about to upgrade from Lubuntu 17.10 to Lubuntu 18.04 , let's see what happens then

[2019-01-10 10:46] diver66 commented on #453
``

[2019-01-10 10:46] #453 closed

[2019-01-10 20:47] jose1711 opened #454 "Ctrl-Fx should provide visual feedback"
### Do you want to request a *feature* or report a *bug*?

Feature

### What did you expect to see?

Currently keys for tuning latency during song playback provide no visual output making it more difficult to recognize whether the shortcut is recognized by the app or what the current setting is. An OSD information showing the current latency set would be greatly appreciated.

### Actual result

Th

[2019-01-11 07:59] nieknooijens commented on #454
there is a function dispInFlash() for that. shouldn't be too hard to add to the key handler functions.
I'm surprised this isn't called on any setting yet.

[2019-01-12 02:08] Lord-Kamina opened #455 "Segfault on Song::getDurationSeconds()"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

* Get to song selection screen (not sure if actually related, but with a populated cache).
* Start quickly typing something random in the filter.
* Performous crashes on

[code]

Initially I thought it was some of the code I'm writing that was at fault, but I just tried to comment it all out and the problem remai

[2019-01-12 11:14] jose1711 opened #456 "Shortcut list should be part of the game"
### Do you want to request a *feature* or report a *bug*?

Feature

### What did you expect to see?

All game shortcuts are described nicely at https://github.com/performous/performous/wiki/Keys. Having an option to see a shortened version after pressing F1 would be useful to
* new performous users
* users running performous offline

[2019-01-12 18:57] Lord-Kamina commented on #455
Nevermind, it was caused by me calling the function with getSongs().currentPtr() with an invalid pointer.

[2019-01-12 18:57] #455 closed

[2019-01-15 13:53] Baklap4 commented on #456
It would be nice to provide a helpers section indeed, thanks for the suggestion!

[2019-01-15 13:55] Baklap4 commented on #454
Hmm latency is being flashed tho?:
![image](https://user-images.githubusercontent.com/3918517/51184770-9184a200-18d5-11e9-8f9e-f9c6d8cfbda2.png)

[2019-01-15 19:51] jose1711 commented on #454
ha, you are right! so this is in fact an out-of-date documentation (+ in game hints) issue

[2019-01-21 10:08] #413 closed

[2019-01-22 08:45] jose1711 commented on #442
there are 31 ways how 5 keys can be pressed. having a 5 x 6 (+1) grid displayed showing all combinations - letting user to shoot down the displayed combinations - would be a funny way to test if the user input is "rollover"-friendly.

[2019-01-22 09:53] alph4numb3r commented on #442
Why go overkill like that? If the combination of all frets+strumming passes, all subsets will too. If it doesn't, there's usually also one 3-fret combination within that won't, making that particular set of keys sub-optimal for play, especially on harder difficulties.

Another option is just having a display of every key it currently detects, ex.: http://gadzikowski.com/nkeyrollover.html

sadly, t

[2019-01-30 21:15] rodroes opened #460 "How to get fixed the "music staff"?"
Hello Everyone!
This is Rodrigo, from Spain. I am a music teacher and I am specially interested in this software. Thank you so much for your developing hard work!
I need such a specific feature, but I have think there must be possible quite easily. I would like to get the staff fixed, like in the training option on the menu. As I said, I am a music teacher and I am planning to use your software as

[2019-01-30 21:17] Baklap4 commented on #460
What do you mean by 'music staff'?

[2019-01-30 21:41] Lord-Kamina commented on #460
Mándame un mensaje privado; yo hablo español.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-30 21:45] rodroes commented on #460
Buenas, Lord-Kamina!
No encuentro la opción para ello, adivino que será en tu perfil. Disculpa mi ignorancia, es mi primera media hora aqui :-)

[2019-01-30 21:48] Lord-Kamina commented on #460
Me equivoqué, contesté al issue pensando que era Discord. Entra a Discord en https://discord.gg/NS3m3ad y escríbeme allá.

[2019-01-31 05:42] Lord-Kamina opened #461 "Submodules in the same style"
Currently our submodules don't use the same method to build.
# TODO
- [ ] Consolidate submodules under 3rdparty
- [ ] Make all urls use either SSH or https

# Linked
This came from the pull request: #459

[2019-02-01 11:09] #320 closed

[2019-02-01 11:09] #334 closed

[2019-02-14 14:35] jose1711 commented on #430
a few updates to audio guide have been done. closing.

[2019-02-14 14:35] #430 closed

[2019-02-15 01:18] jose1711 commented on #460
side note: he might want to try the hard mode in ultrastardx in which i believe exact sound frequency is expected to score

[2019-02-19 21:11] #423 closed

[2019-03-02 19:48] jose1711 commented on #428
confirming #462 fixed the issue. thank you, closing

[2019-03-02 19:48] #428 closed

[2019-03-07 11:57] Tronic commented on #394
All internal audio processing should use floats. Externally S16 needs to be used, but these are converted to and from floats in FFMPEG interface (for decoding media files) as well as libda (for talking to PortAudio and audio hardware).

[2019-03-08 08:05] Tronic commented on #460
Pitch wave cannot be displayed on traditional music staff because it wouldn't be able to show sharp notes. Showing the notes as in practice would be possible when pitch waves are disabled, or if note heads (as in practice) are shown instead. A bit smaller problem is that of using actual note symbols instead of the bars that we normally use. The practice screen already implements part of this, but

[2019-03-18 10:32] rodroes opened #463 "Performous isn't working now"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

### What did you expect to see?
I expected to run the program.

### What did you see instead?
Console showed error mesages (see the bottom of this report)

### Output of `performous --version`: (_What version of Performous are you using?_)
Performous 1.1+

### What is your environment & configuration (arguments,

[2019-04-05 09:34] nieknooijens commented on #463
did you install it from the repositories or build it from source?

[2019-04-06 21:07] rodroes commented on #463
EDIT: I have started Performous properly. I built it from source, but now I am not able to hear any sound. Alsa is working at the moment, but at least the program started. Let me investigate a bit more, to give better info to everybody. Thank you very much!

[2019-04-06 21:34] rodroes commented on #463
EDIT again: Finally Performous worked! It seemed to be some rubbish configuration on home/.config/performous. If you are new on linux (like me), and Performous stopped to work, try these steps:
1 - From console, uninstall the program: sudo apt-get remove performous
2 - Build the program from source (take a look to build instructions on the performous download page).
3 - Delete files (make a copy f

[2019-04-08 11:21] #463 closed

[2019-04-13 20:04] deuteragenie opened #464 "Allow selection of output audio device(s)"
Performous appears to play audio on ALSA card:device 0:0

As a feature request it should allow the user to select on which device(s) to play audio.

FYI: Despite my best efforts I could not manage to play audio from my Ubuntu Laptop through HDMI connected to my TV.  Other ALSA applications worked fine so I assume that performous or the library it uses to output audio has hardcoded the card:device

[2019-04-13 20:08] Lord-Kamina commented on #464
Unless I'm missing something this should be trivial via the Audio Devices  configuration screen

[2019-04-13 20:19] deuteragenie commented on #464
Aargh... you may be right.  I ended up fighting with my ALSA config rather than looking at the commandline options etc. I guess --audio should work fine. Apologies for the noise.

[2019-04-13 20:19] #464 closed

[2019-04-14 02:18] Lord-Kamina commented on #464
I highly recommend using the graphical interface over the command line to configure that though.

[2019-04-14 08:04] Tronic commented on #461
I'd say that https is safer. In many places firewalls prohibit the use of ssh (yes, it is stupid, but unfortunately users have little control over such restrictions).

[2019-04-14 08:13] Tronic commented on #437
The song loads and reloads just fine here, using current git master. Looks like it was a song cache issue, and is perhaps fixed by changing JSON libraries since this was reported.

@jose1711 could you test again?

[2019-04-14 16:01] Lord-Kamina commented on #461
I prefer https but depending on github's mood on an  given day I've had mixed success while pushing using both methods 😂🤷🏼‍♂️

[2019-04-15 06:55] Baklap4 commented on #461
Eitherway, just make it ssh or https.. not both :P

[2019-04-15 10:56] jose1711 commented on #437
I still experience the problem with 4ed8ec78452a5c9e1aad55915378f301a4aa4bca

[2019-04-15 14:51] jose1711 commented on #437
The contents of the `Songs-Metadata.json` file is as follows:
[code]

[2019-04-15 14:55] Lord-Kamina commented on #437
Perhaps there's important info missing from the cache.

Can you check https://github.com/performous/performous/tree/issue/refactor-bpm?files=1 out and see if you can reproduce the issue on that branch?

[2019-04-15 15:49] jose1711 commented on #437
yes, i can reproduce it with refactor-bpm branch too

[2019-05-08 10:06] deuteragenie opened #465 "LibICU dependency"
Compilation fails on Raspbian Stretch with LibICU 57.1
From reading previous issues it appears that LibICU > 60.0 is needed.
This requirement is difficult to meet, as they are no newer version of Raspbian available currently.
1. Could Performous use a well supported LibICU ?
2. LibICU is not listed as a dependency in CMakeLists.  This needs to be corrected.

Workaround: install LibICU package from

[2019-05-08 11:39] deuteragenie opened #466 "Error compiling webcam"
See issue https://github.com/performous/performous/issues/429

Trying to compile on Raspbian Stretch: the same issue still exist on master.
Debian Stretch defaults to OpenCV v2.4.9 I think.

Is there a recommended version for OpenCV ? I see that 3.2.0 is available for Debian.

Workaround: compile without WebCam support.

[2019-05-16 03:02] Lord-Kamina commented on #452
So... it seems somebody at https://github.com/microsoft/vcpkg/issues/3865 is working on a librsvg port for vcpkg; which might mean it would soon be possible to compile performous directly from windows (wouldn't that be awesome?).

If this does come to pass we won't NEED to drop cpprest (although we might still _choose_ to do so in the future for better performance but that's another issue)

[2019-05-18 14:28] ashitrashi opened #467 "Error launching performous on Parrot OS, both in stable 1.1, and latest build"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

### What did you expect to see?

### What did you see instead?

### Output of `performous --version`: (_What version of Performous are you using?_)

[code]

### What is your environment & configuration (arguments, platform, ...)?

### If applicable, please paste the log output in DEBUG level (`--logLevel=DEBUG` s

[2019-05-20 06:54] Baklap4 commented on #467
This issue is not helping us much, can you fill in the template?
Also what does the logs say?

[2019-05-20 16:24] ashitrashi commented on #467
yes, sorry! I didn't finish it and had not realised anything was published
yet. My bad, I fill it now...

On Mon, May 20, 2019 at 8:54 AM Arjan Spieard <notifications@github.com>
wrote:

[2019-05-21 07:00] Baklap4 commented on #467
I think we should update the template whoops.. it's `performous --log debug`

[2019-05-21 08:38] ashitrashi commented on #467
ah thanks! so here is the new output:

┌─[user@parrot]─[~/performous/build]
└──╼ $./performous --log debug
logger/notice: Logging any events of debug or higher level. Log file:
/home/user/.cache/performous/infolog.txt
stderr/info: Standard error output redirected here
core/notice: Performous 1.1-787-g4ed8ec78 starting...
  Internationalization: Enabled
  MIDI Hardware I/O:    Enabled
  Webcam supp

[2019-05-28 20:14] deuteragenie opened #468 "Daily .deb builds"
Daily .deb builds seem to be broken for a couple of months:

https://launchpad.net/~performous-team/+archive/ubuntu/daily

[2019-05-29 12:07] Lord-Kamina commented on #468
I think most of us on the team don't have access to that ppa.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-29 12:10] Lord-Kamina commented on #467
I didn't chime in here because it seems to be crashing "gracefully" and I have no idea what the error could be now. Could you provide a new stack trace maybe?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-29 13:40] deuteragenie commented on #468
I guess the question is where can one get daily builds then ?

[2019-05-29 14:26] Lord-Kamina commented on #468
Nowhere, for now.
@TobiX think maybe you could add me to the performous ppa (and I don't know whoever else has an account at Launchpad?) or would @tapio have to do it? 🙃

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-03 18:21] carlinchisart commented on #437
Hi, i have the same problem in arch linux, i think is possible any library for arch is diferent for ubuntu ? i try to use the other branch and no working.

thanks

[2019-06-04 03:10] ashitrashi commented on #467
Here is a second attempt. Please tell if I can provide more or better info
somehow :)

┌─[user@parrot]─[~]
└──╼ $performous --log debug
logger/notice: Logging any events of debug or higher level. Log file:
/home/user/.cache/performous/infolog.txt
stderr/info: Standard error output redirected here
core/notice: Performous 1.1-787-g4ed8ec78 starting...
  Internationalization: Enabled
  MIDI Hardware

[2019-06-07 20:49] deuteragenie opened #469 "OpenGL Shader compile error"
Installed performous from Ubuntu bionic repositories on Odroid N2.

I got a shader compile error when starting. Here are the relevant lines:

...
Shader color: 0:1: P0007: Language version "120" unkwown, this compiler only supports up to version '320 es'
terminate called after throwing an instance of 'std::runtime_error'
what(): core.vert: Shader compile error.
...

Further to this, after this err

[2019-06-07 20:52] Lord-Kamina commented on #469
I wasn't even aware performous was in any bionic repositories. Anyway, that's almost certainly a very old version. The error is most likely related to those shaders using a very old version of GLSL

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-07 20:59] deuteragenie commented on #469
Here is the link to the bionic package: https://packages.ubuntu.com/bionic/games/performous
Looks like the package is based on r1.1

Could it be something similar to this issue?

http://www.howtobuildsoftware.com/index.php/how-do/BYG/qt-opengl-es-20-shader-qopenglshader-cant-compile-glsl-120-on-android

[2019-06-07 21:34] Lord-Kamina commented on #469
Seems like it, yeah.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-07 22:01] jose1711 commented on #437
It is entirely possible that the issue is in one of the dependent libraries but since there are so many of them (just do `ldd $(which performous)`) I don't have any clue where to start looking. It would be ideal if the devs consider trying Arch.. :smile:

[2019-06-08 08:53] deuteragenie commented on #469
Something is probably also wrong with this test in video_driver.cc
`
if (epoxy_gl_version() < 33) throw std::runtime_error("OpenGL 3.3 is required but not available");
`
Most likely for Odroid N2, epoxy_gl_version is >=33. However, the app requires desktop OpenGL and/or specifics.

libepoxy has a function epoxy_is_desktop_gl() which may come in handy.

[2019-06-08 09:56] deuteragenie opened #470 "OpenGL shader precision"
Some compilers / optimizers require the setting of precision for the OpenGL shaders to compile them successfully (ie Mali ARM G51)

...
//DEFINES
**precision mediump float;**
in vData {
...

Could you have a look at this ?

[2019-06-12 09:01] deuteragenie opened #471 "Update CED submodule to latest CED commit"
The title says it all.
This will address several warnings issued by the compiler on the current CED sub-module.  These have been addressed upstream.

[2019-06-12 10:01] Baklap4 commented on #471
Should be fixed in https://github.com/performous/compact_enc_det and then update submodules head here.
@Lord-Kamina can you make me an admin within the ced repo? I want to tweak some settings in that repo

[2019-06-13 00:58] Lord-Kamina commented on #471
Done. What are you gonna change?

[2019-06-13 07:15] Baklap4 commented on #471
Thanks! Enabled issues, merge request options and security alerts :)

[2019-06-18 17:03] mirabilos opened #473 "illegal distribution of proprietary font"
`DroidSansMono.ttf` has:

[2019-06-18 17:06] Lord-Kamina commented on #473
Where does it say that?

Droid fonts are actually licensed under Apache AFAIK.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-18 17:19] mirabilos commented on #460
I see two separate issues here:

 - the thing on which the pitch waves are drawn gets expanded, contracted, and moved throughout the gameplay, which causes some nausea(!) and no small amount of irritation for me

- traditional stave music display, which could be shown instead of or additionally to the pitch waves; “instead of” has the problem that player pitches/divergations cannot be shown well (

[2019-06-18 19:18] mirabilos commented on #473
Gregorio Litenstein dixit:

In the font file itself.

Then get a font file which says that… where did you copy the
binary font from?

… spam…

[2019-06-19 19:35] mirabilos opened #474 "SIGABRT when starting, on fresh installation"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

- sudo apt-get install performous
- performous

### What did you expect to see?

The GUI, at least to set up audio (as the manpage intimates)

### What did you see instead?

    $ performous
    logger/notice: Logging all notices, warnings and errors. Log file: /home/tglase/.cache/performous/infolog.txt
    core/

[2019-06-19 19:39] mirabilos commented on #474
I now found better instructions…

[code]

[2019-06-19 19:40] mirabilos commented on #474
One note: it *cannot* create 1366x768 windows, my display is 1024x768.

[2019-06-21 14:53] mirabilos commented on #474
I’ve let someone else whose laptop is wider try, and they got a GUI window, but a much smaller one (about 600px or so wide?).

[2019-06-22 00:53] Lord-Kamina commented on #474
What kind of display do you have that is 1024x768? 🙃

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-22 01:31] mirabilos commented on #474
Gregorio Litenstein dixit:

An IBM Thinkpad. A very good one. My main work device.

[2019-07-01 06:39] #473 closed

[2019-07-01 19:13] jorritjorritsma opened #476 "Crash on Fedora 30"
### Do you want to request a *feature* or report a *bug*?
Bug

### What did you do?
I started the application

### What did you expect to see?
the performous application

### What did you see instead?
Performous crashed immediately with the following output
[code]

### Output of `performous --version`: (_What version of Performous are you using?_)
[code]

### What is your environment & configurati

[2019-07-06 12:58] skmqpbusfz commented on #476
I noticed the same problem after my upgrade to Fedora 30. I decided to compile the current revision myself (was e9568253). It did crash just the same.
After debigging I knew it crashed when parsing the controllers.xml specifically at line 277:
```<device regex="Harmonix Drum [Kk]it for PlayStation" />```

After deleting this controller section and the next section (same square bracket regex) the p

[2019-07-13 22:59] mirabilos commented on #474
With the patch from https://github.com/performous/performous/pull/477 applied, the smaller display is accounted for well (thanks), and the OpenGL version check shows the other problem.

When exporting `LIBGL_ALWAYS_SOFTWARE=true` it can be started.

[2019-07-20 02:21] ymkim92 opened #480 "crash at startup complaining about "unable to open slave""
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

I used Performous at Ubuntu 16.04. After I installed 18.04 in the same laptop, it started not working.

### What did you expect to see?

### What did you see instead?

The error message looks like this
[code]

### Output of `performous --version`: (_What version of Performous are you using?_)

[code]

### What is

[2019-07-20 11:02] Tronic commented on #480
This is an OpenGL error, probably a mistake in stereo3d.geom shader code, spotted by the more up-to-date GLSL compiler that you got after upgrading Ubuntu. Which graphics card / driver do you have?

[2019-07-21 00:02] ymkim92 commented on #480
My video card is here:
[code]

[2019-07-21 03:25] Lord-Kamina commented on #480
What version of performous are you using; master?

[2019-07-25 04:44] ymkim92 commented on #480
``performous --version`` said 1.1+. I installed it by ``apt install performous``

[2019-07-25 11:53] Lord-Kamina commented on #480
So it's most likely a random unstable

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-25 15:01] Tronic commented on #480
stereo3d.geom was largely rewritten last year, probably also fixing this bug. @ymkim92 try with git version.

[2019-07-28 19:08] mirabilos opened #481 "keypress is registered upon key release for dance mat"
### Do you want to request a *feature* or report a *bug*?

Bug

### Forwarded bug information from another tracker

https://bugs.launchpad.net/ubuntu/+source/performous/+bug/1216191

#### information provided by the original submitter

Every time I lift my foot off of a button on my dance mat, Performous behaves as if I instead stepped on the button.

details:

  date: 2013-08-23
  OS: Ubuntu 13.0

[2019-07-29 04:57] Lord-Kamina commented on #481
Does anybody even know where to start, on a 6-year old bug report?

[2019-07-30 05:00] AssortedBits commented on #481
I guess I could try it again. I don’t actually have a Linux machine handy anymore. Probably still using the same pads, though.

[2019-07-30 05:28] Lord-Kamina commented on #481
😂 perhaps you can try it on a live Linux install or something? Ideally at least running (I think) cosmic that has a package from late 2018.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-15 17:05] mirabilos opened #482 "[wishlist] work (in degraded mode) with OpenGL 2.1 (or maybe OpenGL ES 2.0?)"
### Do you want to request a *feature* or report a *bug*?

Feature

### What did you expect to see?

A working performous on my work laptop (IBM Thinkpad X61) with more than ~5–6 fps (which is what I get from software rendering).

I know you guys will probably close this as “works as intended” or “we don’t have the resources for this”, but [I just learnt my laptop doesn’t support more](https://bug

[2019-08-15 18:07] Lord-Kamina commented on #482
Not going to happen because we did plenty of work explicitly to move up from OpenGL 2.1. Performous 1.1 used OpenGL 2.1 though so that should work.

[2019-08-15 21:08] mirabilos commented on #482
Hi Gregorio,

thought so, but asking doesn’t hurt; thanks for the answer.
No chance of shipping both, I assume.

Hm yes, but that’d be unmaintained software… what if there are,
for example, necessary security fixes? Also improvements in
unrelated areas (e.g. I’m hoping for notation (as an option, instead
of those halftone lines) some day) would not be applicable.

I could certainly use that… for a

[2019-08-16 00:01] Lord-Kamina commented on #482
Can't ship both because we're talking about maintaining two completely separate versions of the drawing code. It's a very complex change, not just modifying one or two lines.

So no, it's not really worth it for supporting  a 12-year old laptop that wasn't even made for games in the first place.

[2019-08-16 06:01] Tronic commented on #482
What comes to security updates, I don't believe there has ever been a security issue with Performous. It is not connected to Internet so the only risk factor comes from downloaded songs. System-installed version of ffmpeg is used for decoding, so you will still get upgrades to that.

@Lord-Kamina is right. It is time to scrap your laptop and get modern hardware.

[2019-08-16 06:01] #482 closed

[2019-08-20 00:40] mirabilos commented on #17
I just found https://github.com/p3/regal which might help with this and perhaps https://github.com/performous/performous/issues/482 as it apparently can emulate OpenGL on OpenGL/GL ES, without the full performance drag from emulation (6–8 fps on Thinkpad X61, Core2duo 2 GHz, with llvmpipe software rendering).

Might be useful to try whether it works, perhaps even without code changes (`LD_PRELOAD`

[2019-09-03 13:25] nobicycle opened #483 "stereo3d.geom: Couldn't create shader"
$ performous -l DEBUG
see log attached
[infolog.txt](https://github.com/performous/performous/files/3569605/infolog.txt)

### Output of `performous --version`: (_What version of Performous are you using?_)
$ performous --version
Performous 1.1+

### What is your environment & configuration (arguments, platform, ...)?

$ uname -a
Linux tower 5.2.8-1-MANJARO #1 SMP PREEMPT Fri Aug 9 19:34:20 UTC 201

[2019-09-03 14:27] Lord-Kamina commented on #483
That doesn't look like an actual debug log. Try --log debug or --loglevel debug.

Also, where did you get that performous from? Some repository? Built yourself?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-03 14:52] Tronic commented on #483
Possible duplicate of #480

[2019-09-07 22:10] mirabilos commented on #235
@selenebroers I’d love to put some SATB pieces into Performous, which would need four players at least.

[2019-09-08 07:50] PolynomialDivision opened #484 "microphone pass-through sounds terrible"
### Bug
Microphone pass-through sounds terrible.

### What did you do?
Setup: 2 PS 2 microphones.
Enable microphone pass-through.
Sing.
Now the voice is clipped. The quality is comparable to a very bad voice call.
To test micrphones I made a recording with another program and the quality was very good. So no microphone defects.
It sounds like performous gets overburden by the `microphone pass-thro

[2019-09-08 09:05] Tronic commented on #484
PS2 microphones have very bad sound quality to start with, but it is also very likely that Performous pass-through is buggy. It is actually really difficult to pass audio from one sound device to another. Passing from input to output of the same audio device is much easier.

Any devs up for investigating this?

[2019-09-08 19:50] Lord-Kamina commented on #484
I've the singstar mics before and they were pretty decent. Eventually I bought some Shure mic clones and soldered a couple of XLR to 3.5mm mono cables and use that with the Singstar adapter; it sounds pretty good so 🤷🏼‍♂️

[2019-09-08 21:08] MairusuPawa opened #485 "Handling #START and #END tags in files"
Hello,

Sometimes Ultrastar files include #START and #END tags in their "header", telling the game when the song respectively begins and stops.

This was useful for bad audio rips in ancient USDX days, to remove radio announcers or unwanted intros / outros. But this has other use cases: for instance, I'm currently creating a large file for a 1-hour long metal opera, and I'm using this feature to b

[2019-09-08 21:56] alph4numb3r commented on #485
Currently the closest you can get to this behaviour is by pressing enter to skip what Performous sees as 'instrumental' (no lyrics), both at the start and the end of the song. This seems like a nice feature to have though.

[2019-09-09 04:32] Tronic commented on #485
If these were to be supported, you must break compatibility. The one thing I've learned in software development is that keeping broken design persists for many decades but fixing the existing files and software takes mere hours at best and never more than a couple of years.

For instance, the Python programming language had already in its version 1.6 an issue with raw string literals (where you ar

[2019-09-09 04:37] Lord-Kamina commented on #485
I agree with @Tronic here. OTOH, considering the scales we're talking, it would probably be trivial to have performous detect whether they're both in seconds or one in seconds and the other milliseconds.

[2019-09-28 23:30] MacLemon commented on #160
This is what the audio device screen looks on macOS 10.13.6 with a Behringer X32 Compact (shown as X-USB) connected.
When setting microphones to the X-USB they get mapped to channels 1-8 on that interface. (Card OUT 1-8 on the X32.)

This is Performous 1.1-4-g98c7537 (from the official download for macOS).

![Performous 1 1 Audio device config](https://user-images.githubusercontent.com/90635/65823

[2019-09-29 05:29] basisbit commented on #160
@MacLemon please create a new issue for your problem instead of posting this in a not related two years old issue. Thanks.

[2019-09-29 20:18] nieknooijens commented on #160
indeed. btw, the solution is to use jack audio connection kit (software) to
re-route the mic channels.

2019年9月29日(日) 7:29 basisbit <notifications@github.com>:

[2019-09-30 15:07] mirabilos opened #486 "off-by-one in microphone colours"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

Try to assign the microphone a colour.

### What did you expect to see?

The chosen colour is used.

### What did you see instead?

The one to the left is used (or, for the red one, an invisible-in-the-config blue one is used).

![Screenshot_20190930_170254](https://user-images.githubusercontent.com/861078/658913

[2019-09-30 15:54] mirabilos opened #487 "Keyboard layout issues: assumes stock US layout or similar, as it uses scancodes"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

I’m running with a [custom keyboard layout](http://www.mirbsd.org/cvs.cgi/contrib/samples/dot.Xmodmap?rev=1.24.4.11) ([mapping graphics](http://www.mirbsd.org/~tg/pub/kbd.png)) which, while US-based, assigns more or different meaning to the keys (e.g. adds a Compose key and makes the Caps Lock key into a normal i

[2019-09-30 16:26] Tronic commented on #487
The scancodes in https://github.com/performous/performous/blob/master/game/controllers-keyboard.cc#L65 probably should be something else. Would you care to investigate and send a pull request with the necessary changes? SDL2 documentation would be a place to start.

[2019-09-30 16:45] Lord-Kamina commented on #486
This is really weird? I've never seen it happen. Will have to investigate.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-30 16:49] Lord-Kamina commented on #487
I had to deal with similar shit back when I was working on a Firefox extension and it was a nightmare. Your report is very thorough, so it shouldn't be very hard to fix but all my coding energy lately has been going into a a zillion ignored PRs upstream in MXE (ultimate goal being able to produce trustworthy windows builds again)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-30 17:45] mirabilos commented on #487
L. Kärkkäinen dixit:

Sure, I can have a shot at converting it. Thanks, I don’t have much
spare time (working in too many OSS projects) and didn’t want to start
something which upstream isn’t interested in merging, but since you ask…

bye,
//mirabilos
--
Solange man keine schmutzigen Tricks macht, und ich meine *wirklich*
schmutzige Tricks, wie bei einer doppelt verketteten Liste beide
Pointer XOR

[2019-10-01 05:45] Tronic commented on #487
Isn't it frustrating when more effort goes into arguing why your pull requests should be merged than actually fixing things? I can guarantee that any fix that doesn't break QWERTY/QWERTZ/AZERTY layouts will get merged promptly (and as a Colemak user I'll send you my love if that also gets fixed!).

[2019-10-01 05:48] Tronic commented on #487
However, I see I pointed you probably at the wrong point in code. Scancodes are used for letters precisely so that the guitar keys stay in same locations, but you want to move function keys to different locations as per OS keymap. In any case, I'm sure you can sort it out, if SDL2 just gives the necessary tools.

[2019-10-01 07:16] Lord-Kamina commented on #487
That it will (we're not dead yet haha ñ) and god yes. MXE is a great project but it has some really crazy inertia on some things.

If I cannot get them to merge changes I'll probably just push them to performous' fork but I'd still rather see things fixed upstream.

[2019-10-01 20:33] MacLemon commented on #160
Sorry, the issue was old but open and I could contribute a screenshot to illustrate how other interfaces show up without splitting their channels into ginormous lists.

I've removed the part which was interpreted as a support request, which is wasn't meant to be.
There indeed seems to be a channel matching problem in Performous which I'll open a separate issue for (and known workaround for macOS).

[2019-12-03 01:07] lua86 commented on #389
So, I've been wondering (and felt like this issue would be the best place to ask), is there interest to add AppImage artifact building to the CI build? I don't wanna read on semaphore 2 and go through the effort if you're unlikely to refuse my merge request.

[2019-12-03 01:26] Lord-Kamina commented on #389
I say yes, but I don't really use Linux so 🤷🏼‍♂️

[2019-12-15 17:35] MagicChocoRolls opened #489 "Folder access under macOS Catalina"
Hi guys,

Catalina unfortunately broke my Performous setup :frowning: All my songs are on an external drive, which I can not access anymore with Catalinas new security and privacy feature.
I have already tried to give Performous full access, but can not access my external drive :(

When I tried to navigate within the path options menu, the following error occurs:  "Operation not permitted: /Volume

[2019-12-15 17:38] Lord-Kamina commented on #489
Have you tried granting full disk access?

[2019-12-15 17:46] MagicChocoRolls commented on #489
Yes, I did ;) Didn't change anything :(

[2019-12-30 21:58] SimonPe opened #490 "cmake shouldn't try to outsmart pkgconfig (when finding pango include paths)"
### Do you want to request a *feature* or report a *bug*?

Bug

### What did you do?

I'm trying to build performous on archlinux against pango 1.44 which fails, because `FindPango.cmake` tries to outsmart pkgconfig and doesn't include all the needed include directories in the include path.

### What did you expect to see?

A working build.

### What did you see instead?

[code]

### Output of `pe

[2019-12-30 22:06] Lord-Kamina commented on #490
I am not convinced this bug is actually ours to fix.

[2019-12-30 22:10] SimonPe commented on #490
@Lord-Kamina The bug is in `FindPango.cmake` and/or `FindPangoCairo.cmake` which are in this repo. Because not all include paths (and cflags, but in this case they are only includes) returned by `pkg-config` get used.

[2019-12-31 06:42] Tronic commented on #490
Patching this within CMake is probably quite difficult (one does not simply use pkgconfig's flags blindly; instead each path should be a separately configurable CMake variable). The original script is written by me about a decade ago but someone else will have to fix it.

Maybe upstream already provides CMake config for Pango and PangoCairo, so that neither pkg-config nor those find modules are ne

[2019-12-31 11:32] SimonPe commented on #490
@Tronic why does one not simply use pkgconfig's flags blindly? That's what they're for. They (and all of pkg-config) exist to make your life easier and not have to worry about the whole dependency resolution and everything.
And no, upstream (as in gnome) doesn't provide CMake config, upstream provides pkg-config and says to use it.
If I'm entirely honest I have no clue why the CMake ecosystem trie

[2019-12-31 11:40] SimonPe commented on #490
I did a little exercise here:
I changed 3 libraries (pangocairo, librsvg, and gstreamer) to just use pkg-config and could throw away 19 other "Find***.cmake" files (next to reducing 3 of them to one-liners).

I have the impression that not just using pkg-config is just making it hard on yourselves.

And the resulting buildflags are all still correct.

[2019-12-31 12:04] Tronic commented on #490
The idea in CMake is that all paths are recorded during configuration and may be configured and modified by UI, and that contract should not lightly be broken. Our scripts use pkg-config for initial guesses of paths but other than that it is and should be stand-alone (for instance, the scripts do check that specific header files actually exist in the configured include paths).

You might fix this

[2020-01-09 15:17] basisbit commented on #235
suggestion for changes to the ultrastar file format parsing:

1. if a file contains no P1 or P2 in the notes part, it is a single-voice song. Nothing to do.
2. if the song contains P0, then P0 marks sentences for all voices, while P1 .. Pn mark sentences for the respective voices.
3. if the song contains only P1 and P2, use these for the players, alternating between the voices when there are more

[2020-01-10 10:31] achimmihca commented on #235
Some suggestions to have a broader discussion:

- I suggest to use `PX` instead `P0` to indicate all voices. I am used to start counting from 0 (e.g. in for-loops). `PX` breaks with the pattern P[number] to make it more clear that it is not a single voice. The X is a placeholder for "any number".

- "all voices" is a special case of "multiple voices". Thus, we could instead only define a syntax to

[2020-01-10 13:00] Tronic commented on #235
Should probably ditch the UltraStar TXT format already and use MID/INI format (FoF) instead.

[2020-01-10 14:24] basisbit commented on #235
the ultrastar txt format is so successful, because it is simple and easy to understand + modify even without reading docs. Ditching the txt format for sing-along karaoke mode would be equals to ditching 99% of the community and ending up with next to no users and almost no content. USDX and US Play will not do that.

[2020-01-10 15:07] mirabilos commented on #235
L. Kärkkäinen dixit:

I’ve tried using MIDI (as exported from MuseScore (notation program)
or AnthemScore (like Performous Composer)), but was very unsuccessful.

In the end, I used midicsv from the midicsv Debian package to convert
the MIDI to CSV, then some simple text transformations and integer
divisions to convert that to a TXT file (with BPM 3600) and added
back the lyrics.

So far, the TXT

[2020-01-10 16:21] Lord-Kamina commented on #235
I don't personally see the value in more than two voices but if it can be implemented then sure I guess.

I like the idea of using a version tag and definitely think we should keep TXT.

Why though? I mean yeah it's a hassle but I made sure already we have a functional conversion to unicode. I wouldn't waste much effort on anything related to non-ansi non-unicode support but I don't see any need t

[2020-01-10 16:39] basisbit commented on #235
Sorry, I wasn't clear on this. We are only dropping the support in USDX and US Play, because the different codepages for Ansi cause problems for users and trying to autodetect codepages is slow.

[2020-01-10 23:43] mirabilos commented on #235
Gregorio Litenstein dixit:

I’d like to convert lots of SATB choir pieces and use Performous as
training tool, where up to eight people would then be able to select
their track and train it, at the same time.

That’s one of my use cases (and the reason I’d love to be able to
show musical notation instead of semitone-distance lines).

[2020-01-20 17:52] skmqpbusfz commented on #476
Issue still persists in Fedora 31. Tested version is 1.2-0.3.20190419git4ed8ec7.fc31

[2020-01-20 18:21] Baklap4 commented on #476
With what version of performous did you test?

[2020-01-20 18:33] Lord-Kamina commented on #476
@Baklap4 from that version tag, I guess it would be https://github.com/performous/performous/commit/4ed8ec78452a5c9e1aad55915378f301a4aa4bca

[2020-01-21 13:42] skmqpbusfz commented on #476
Yes, I also would think that the commit hash is 4ed8ec7. But there should be some insight in my previous comment on Jul 6, 2019:

[2020-01-21 14:15] Baklap4 commented on #476
Hmmm as far as i know and may be able to test. Building a sample program with gcc9.1.0 and gcc9.2.0
running a regular expression using std works.
[code]

so we have to dig deeper i think.. @skmqpbusfz can you try out above code and see if it both returns '1' ?
This makes it certain it's not something in either boost or std but within performous not handeling right.

[2020-01-21 15:09] skmqpbusfz commented on #476
Just compiled your suggested code snippet with g++ (gcc version 9.2.1 20190827 (Red Hat 9.2.1-1) (GCC)).
When running the binary both couts retrurn 1.

[2020-01-21 15:22] Baklap4 commented on #476
Alright so std regex'es do work but Performous is doing something weird with them resulting in a error. Could you paste a debug log of performous?
`./performous --loglevel=Debug`?

[2020-01-21 15:49] skmqpbusfz commented on #476
I just tried it with the version of the Fedora RPM Fusion Repo, the flag `--loglevel=Debug` was not working though. `--log debug` as described in the wiki did though here is the output:

stderr/info: Standard error output redirected here
core/notice: Performous 1.1+ starting...
  Internationalization: Enabled
  MIDI Hardware I/O:    Enabled
  Webcam support:       Enabled
config/info: Parsing "//u